<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div
      style='
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-family: Arial;
      '
    >
      <h1>Your Payment Details</h1>
      <div style='display: flex;'>
        <ul
          style='display: flex; flex-direction: column; justify-content: center'
        >
          <li style='margin: 10px'>Full Name:</li>
          <li style='margin: 15px'>Email:</li>
          <li style='margin: 15px'>Address:</li>
          <li style='margin: 15px'>city</li>
          <li style='margin: 15px'>State</li>
          <li style='margin: 15px'>Zip</li>
          <li style='margin: 15px'>Card Name</li>
          <li style='margin: 15px'>Transaction ID:</li>
          <li style='margin: 15px'>Exp Month:</li>
          <li style='margin: 15px'>Exp Year:</li>
        </ul>
        <div
          style='display: flex; flex-direction: column; justify-content: center'
        >
          <li style='margin: 10px'>Full Name:</li>
          <li style='margin: 15px'>Email:</li>
          <li style='margin: 15px'>Address:</li>
          <li style='margin: 15px'>city</li>
          <li style='margin: 15px'>State</li>
          <li style='margin: 15px'>Zip</li>
          <li style='margin: 15px'>Card Name</li>
          <li style='margin: 15px'>Transaction ID:</li>
          <li style='margin: 15px'>Exp Month:</li>
          <li style='margin: 15px'>Exp Year:</li>
        </div>
      </div>
    </div>
  </body>
</html>
