<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title> Adventure Tour Guideline Website </title>
	<link rel="stylesheet"
	href = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
 <link rel="stylesheet" href="try.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	 <link rel="stylesheet" href="footer.html/footer.css">
	 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
 <script src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/proper.min.js"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="css/flexslider.css">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	
	<!-- Date Picker -->
	<link rel="stylesheet" href="css/bootstrap-datepicker.css">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="colorlib-loader"></div>

	<div id="page">
		<nav class="colorlib-nav" role="navigation">
			<div class="top-menu">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-2">
							<div id="colorlib-logo"><a class="animated infinite heartBeat navbar-brand" href="index.html">Adventure Tour</a></div>
						</div>
						<div class="col-xs-10 text-right menu-1">
							<ul>
								<li class="active"><a href="index.html">Home</a></li>
								<li class="has-dropdown">
									<a href="tours.html">Tours</a>
									<ul class="dropdown">
										<li><a href="Home Page 1/bangladesh/bangladesh.html"><i class="fa fa-circle"></i>Bangladesh</a></li>
										<li><a href="Home Page 1/GEOGRAPHICAL PLACES/geographical.html"><i class="fa fa-circle"></i>Geographical Places</a></li>
										<li><a href="Home Page 1/TRACKING/TRACKING.html"><i class="fa fa-circle"></i>Tracking</a></li>
										<li><a href="#"><i class="fa fa-circle"></i>Prominent Rivers</a></li>
									</ul>
								</li>
								<li class="has-dropdown">
									<a href="tours.html">Travel</a>
									<ul class="dropdown">
								<li><a href="hotels.html"><i class="fa fa-circle-o-notch"></i>Travel Style</a></li>
								<li><a href="hotels.html"><i class="fa fa-crosshairs"></i>Travel Type</a></li>
								<li><a href="hotels.html"><i class='fas fa-hotel'></i>Hotels</a></li>
								</ul>
								</li>
								<li class="has-dropdown">
									<a href="tours.html">Gallery</a>
									<ul class="dropdown">
								<li><a href="blog.html"><i class="fa fa-btc"></i>Blog</a></li>
								<li><a href="blog.html"><i class="fa fa-picture-o"></i>>Photos</a></li>
								<li><a href="blog.html"><i class="fa fa-video-camera"></i>videos</a></li>
								<li><a href="blog.html"><i class="fa fa-book"></i>Short Stories</a></li>
								</ul>
								</li>
								<li><a href="services.html">Review</a></li>
								<li><a href="contact.html">Contact</a></li>
								<li><a href="Home Page 1/login-form/login.html">Log In</a></li>
								<li><a href="Home Page 1/registration/registration.html">Register</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<aside id="colorlib-hero">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: url(images/img_bg_3.jpg);">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
				   				<div class="slider-text-inner text-center">
				   					<h1>By AdventureTour.com</h1>
				   					<h1>Find Tours</h1>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			  	</ul>
		  	</div>
		</aside>

		<div class="colorlib-wrap">
			<div class="container">
				<div class="row">
					<div class="col-md-9">
						<div class="row">
							<div class="wrap-division">
								<div class="col-md-6 col-sm-6 animate-box">
									<div class="tour">
										<a href="tour-place.html" class="tour-img" style="background-image: url(images/tour-1.jpg);">
											<p class="price"><span>$1200</span> <small>/ 5 Days</small></p>
										</a>
										<span class="desc">
											<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
											<h2><a href="tour-place.html">Tour in Rome</a></h2>
											<span class="city">Rome</span>
										</span>
										<button type="button" class="btn btn-dark"><i class="fa fa-calendar" aria-hidden="true"></i><a href = "Home Page 1/payment/payment.html">Book Now </a></button>
                        
                         <button type="button" class="btn btn-dark"><i class="fa fa-info-circle" aria-hidden="true"></i> <a href = "tour-place.html">Query</a></button> 
									</div>
								</div>

								<div class="col-md-6 col-sm-6 animate-box">
									<div class="tour">
										<a href="tour-place.html" class="tour-img" style="background-image: url(images/pk4.jpg);">
											<p class="price"><span>$1586</span> <small>/ 15 Days</small></p>
										</a>
										<span class="desc">
											<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 967 Reviews</p>
											<h2><a href="tour-place.html">Explore the Nature</a></h2>
											<span class="city">Quito to Rio Adventure</span>
										</span>
										<button type="button" class="btn btn-dark"><i class="fa fa-calendar" aria-hidden="true"></i><a href = "Home Page 1/payment/payment.html">Book Now </a></button>
                        
                         <button type="button" class="btn btn-dark"><i class="fa fa-info-circle" aria-hidden="true"></i> <a href = "tour-place.html">Query</a></button> 
									</div>
								</div>

								<div class="col-md-6 col-sm-6 animate-box">
									<div class="tour">
										<a href="tour-place.html" class="tour-img" style="background-image: url(images/pk5.jpg);">
											<p class="price"><span>$997</span> <small>/ 10 Days</small></p>
										</a>
										<span class="desc">
											<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 789 Reviews</p>
											<h2><a href="tour-place.html">Experience the Wonder</a></h2>
											<span class="city">Brisbane to Cairns</span>
										</span>
										<button type="button" class="btn btn-dark"><i class="fa fa-calendar" aria-hidden="true"></i><a href = "Home Page 1/payment/payment.html">Book Now </a></button>
                        
                         <button type="button" class="btn btn-dark"><i class="fa fa-info-circle" aria-hidden="true"></i> <a href = "tour-place.html">Query</a></button> 
									</div>
								</div>

								<div class="col-md-6 col-sm-6 animate-box">
									<div class="tour">
										<a href="tour-place.html" class="tour-img" style="background-image: url(images/tour-4.jpg);">
											<p class="price"><span>$636</span> <small>/ 8 Days</small></p>
										</a>
										<span class="desc">
											<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 531 Reviews</p>
											<h2><a href="tour-place.html">Explore the unknown</a></h2>
											<span class="city">Ancient Kingdoms & Karaoke</span>
										</span>
										<button type="button" class="btn btn-dark"><i class="fa fa-calendar" aria-hidden="true"></i><a href = "Home Page 1/payment/payment.html">Book Now </a></button>
                        
                         <button type="button" class="btn btn-dark"><i class="fa fa-info-circle" aria-hidden="true"></i> <a href = "tour-place.html">Query</a></button> 
									</div>
								</div>

								<div class="col-md-6 col-sm-6 animate-box">
									<div class="tour">
										<a href="tour-place.html" class="tour-img" style="background-image: url(images/tour-5.jpg);">
											<p class="price"><span>$550</span> <small>/ 4 Days</small></p>
										</a>
										<span class="desc">
											<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 661 Reviews</p>
											<h2><a href="tour-place.html">Family Tour in Greece</a></h2>
											<span class="city">Athens, Greece</span>
										</span>
										<button type="button" class="btn btn-dark"><i class="fa fa-calendar" aria-hidden="true"></i><a href = "Home Page 1/payment/payment.html">Book Now </a></button>
                        
                         <button type="button" class="btn btn-dark"><i class="fa fa-info-circle" aria-hidden="true"></i> <a href = "tour-place.html">Query</a></button> 
									</div>
								</div>

								<div class="col-md-6 col-sm-6 animate-box">
									<div class="tour">
										<a href="tour-place.html" class="tour-img" style="background-image: url(images/tour-6.jpg);">
											<p class="price"><span>$908</span> <small>/ 13 Days</small></p>
										</a>
										<span class="desc">
											<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 392 Reviews</p>
											<h2><a href="tour-place.html">Fulfill The Dream</a></h2>
											<span class="city">Coastlines & Kebabs</span>
										</span>
										<button type="button" class="btn btn-dark"><i class="fa fa-calendar" aria-hidden="true"></i><a href = "Home Page 1/payment/payment.html">Book Now </a></button>
                        
										<button type="button" class="btn btn-dark"><i class="fa fa-info-circle" aria-hidden="true"></i> <a href = "tour-place.html">Query</a></button> 
									</div>
								</div>

								<div class="col-md-6 col-sm-6 animate-box">
									<div class="tour">
										<a href="tour-place.html" class="tour-img" style="background-image: url(images/tour-7.jpg);">
											<p class="price"><span>$1359</span> <small>/ 9 Days</small></p>
										</a>
										<span class="desc">
											<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 617 Reviews</p>
											<h2><a href="tour-place.html">Feel the water</a></h2>
											<span class="city">Snorkelling & Sea Lions</span>
										</span>
										<button type="button" class="btn btn-dark"><i class="fa fa-calendar" aria-hidden="true"></i><a href = "Home Page 1/payment/payment.html">Book Now </a></button>
                        
                         <button type="button" class="btn btn-dark"><i class="fa fa-info-circle" aria-hidden="true"></i> <a href = "tour-place.html">Query</a></button> 
									</div>
								</div>

								<div class="col-md-6 col-sm-6 animate-box">
									<div class="tour">
										<a href="tour-place.html" class="tour-img" style="background-image: url(images/tour-8.jpg);">
											<p class="price"><span>$1699</span> <small>/ 16 Days</small></p>
										</a>
										<span class="desc">
											<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 837 Reviews</p>
											<h2><a href="tour-place.html">Enjoy the beauty of Nature</a></h2>
											<span class="city">Tapas, Medinas & Sunsets</span>
										</span>
										<button type="button" class="btn btn-dark"><i class="fa fa-calendar" aria-hidden="true"></i><a href = "Home Page 1/payment/payment.html">Book Now </a></button>
                        
										<button type="button" class="btn btn-dark"><i class="fa fa-info-circle" aria-hidden="true"></i> <a href = "tour-place.html">Query</a></button> 
									</div>
								</div>
							</div>
						</div>
						
					</div>

					<!-- SIDEBAR-->
					<div class="col-md-3">
						<div class="sidebar-wrap">
							<div class="side search-wrap animate-box">
								<h3 class="sidebar-heading">Find your tour</h3>
								<form method="post" class="colorlib-form">
				              	<div class="row">
				              	 <div class="col-md-12">
				              	 	<div class="form-group">
				                    <label for="date">Where:</label>
				                    <div class="form-field">
				                      <input type="text" id="location" class="form-control" placeholder="Search Location">
				                    </div>
				                  </div>
				              	 </div>
				                <div class="col-md-12">
				                  <div class="form-group">
				                    <label for="date">Check-in:</label>
				                    <div class="form-field">
				                      <i class="icon icon-calendar2"></i>
				                      <input type="text" id="date" class="form-control date" placeholder="Check-in date">
				                    </div>
				                  </div>
				                </div>
				                <div class="col-md-12">
				                  <div class="form-group">
				                    <label for="date">Check-out:</label>
				                    <div class="form-field">
				                      <i class="icon icon-calendar2"></i>
				                      <input type="text" id="date" class="form-control date" placeholder="Check-out date">
				                    </div>
				                  </div>
				                </div>
				                <div class="col-md-12">
				                  <div class="form-group">
				                    <label for="guests">Guest</label>
				                    <div class="form-field">
				                      <i class="icon icon-arrow-down3"></i>
				                      <select name="people" id="people" class="form-control">
				                        <option value="#">1</option>
				                        <option value="#">2</option>
				                        <option value="#">3</option>
				                        <option value="#">4</option>
				                        <option value="#">5+</option>
				                      </select>
				                    </div>
				                  </div>
				                </div>
				                <div class="col-md-12">
									<a  class="btn btn-primary btn-block"  href = "payment.html"> Find Tours</a>
				                </div>
				              </div>
				            </form>
							</div>
							<div class="side animate-box">
								<div class="row">
									<div class="col-md-12">
										<h3 class="sidebar-heading">Price Range</h3>
										<form method="post" class="colorlib-form-2">
						              	<div class="row">
						                <div class="col-md-6">
						                  <div class="form-group">
						                    <label for="guests">Price from:</label>
						                    <div class="form-field">
						                      <i class="icon icon-arrow-down3"></i>
						                      <select name="people" id="people" class="form-control">
						                        <option value="#">1</option>
						                        <option value="#">200</option>
						                        <option value="#">300</option>
						                        <option value="#">400</option>
						                        <option value="#">1000</option>
						                      </select>
						                    </div>
						                  </div>
						                </div>
						                <div class="col-md-6">
						                  <div class="form-group">
						                    <label for="guests">Price to:</label>
						                    <div class="form-field">
						                      <i class="icon icon-arrow-down3"></i>
						                      <select name="people" id="people" class="form-control">
						                        <option value="#">2000</option>
						                        <option value="#">4000</option>
						                        <option value="#">6000</option>
						                        <option value="#">8000</option>
						                        <option value="#">10000</option>
						                      </select>
						                    </div>
						                  </div>
						                </div>
						              </div>
						            </form>
					            </div>
								</div>
							</div>
							<div class="side animate-box">
								<div class="row">
									<div class="col-md-12">
										<h3 class="sidebar-heading">Review Rating</h3>
										<form method="post" class="colorlib-form-2">
										   <div class="form-check">
												<input type="checkbox" class="form-check-input" id="exampleCheck1">
												<label class="form-check-label" for="exampleCheck1">
													<p class="rate"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span></p>
												</label>
										   </div>
										   <div class="form-check">
										      <input type="checkbox" class="form-check-input" id="exampleCheck1">
										      <label class="form-check-label" for="exampleCheck1">
										    	   <p class="rate"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span></p>
										      </label>
										   </div>
										   <div class="form-check">
										      <input type="checkbox" class="form-check-input" id="exampleCheck1">
										      <label class="form-check-label" for="exampleCheck1">
										      	<p class="rate"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span></p>
										     </label>
										   </div>
										   <div class="form-check">
										      <input type="checkbox" class="form-check-input" id="exampleCheck1">
										      <label class="form-check-label" for="exampleCheck1">
										      	<p class="rate"><span><i class="icon-star-full"></i><i class="icon-star-full"></i></span></p>
										     </label>
										   </div>
										   <div class="form-check">
										      <input type="checkbox" class="form-check-input" id="exampleCheck1">
										      <label class="form-check-label" for="exampleCheck1">
										      	<p class="rate"><span><i class="icon-star-full"></i></span></p>
										     </label>
										   </div>
										</form>
									</div>
								</div>
							</div>
							<div class="side animate-box">
								<div class="row">
									<div class="col-md-12">
										<h3 class="sidebar-heading">Location</h3>
										<form method="post" class="colorlib-form-2">
										   <div class="form-check">
												<input type="checkbox" class="form-check-input" id="exampleCheck1">
												<label class="form-check-label" for="exampleCheck1">
													<h4 class="place">Greece</h4>
												</label>
										   </div>
										   <div class="form-check">
										      <input type="checkbox" class="form-check-input" id="exampleCheck1">
										      <label class="form-check-label" for="exampleCheck1">
													<h4 class="place">Italy</h4>
												</label>
										   </div>
										   <div class="form-check">
										      <input type="checkbox" class="form-check-input" id="exampleCheck1">
										      <label class="form-check-label" for="exampleCheck1">
													<h4 class="place">Spain</h4>
												</label>
										   </div>
										   <div class="form-check">
										      <input type="checkbox" class="form-check-input" id="exampleCheck1">
										      <label class="form-check-label" for="exampleCheck1">
													<h4 class="place">Germany</h4>
												</label>
										   </div>
										   <div class="form-check">
										      <input type="checkbox" class="form-check-input" id="exampleCheck1">
										      <label class="form-check-label" for="exampleCheck1">
													<h4 class="place">Japan</h4>
												</label>
										   </div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<section class = "bg-light p-3">
			<div class = "container">
			  <div class = "row">
			  <div class = "col-md-4">
			   <div class = "card text-center">
		  <p class="btn btn-dark"><i class="fa fa-life-ring" ></i> Small groups</p>
		  <br>
		  <p>Join a small group of like-minded travellers that, like you, are eager to safely and confidently experience all the things that make our world worth exploring. </p>
			 <br> 
		  </div>
			  </div>
			  <div class = "col-md-4">
				<div class = "card text-center">
				<p class="btn btn-dark"><i class="fa fa-book" ></i>Book & Travel with Confidence</p>
		   <br>
		   <p>We have measures in place to help keep you safe from the moment you book to the moment you (reluctantly) head home.</p>
			<br>   
		  </div>
			   </div>
			   <div class = "col-md-4">
				<div class = "card text-center">
				<p class="btn btn-dark"><i class="fa fa-users"></i>Locally based guides</p>
		   <br>
		   <p>At Adventure Tour, we don’t have tour guides — we have Chief Experience Officers. And they are all locally based, meaning they know the area you’re exploring like the back of their well-travelled hand. </p>
			<br>  
		  </div>
			   </div>
			  </div>
			  <br>
			  <div class = "row">
				<div class = "col-md-4">
				 <div class = "card text-center">
			<p class="btn btn-dark"><i class="fa fa-university" ></i> Built to support local communities</p>
			<br>
			<p>We have always created our tours by building meaningful relationships with local communities, directly benefiting the people and places we visit.</p>
			   <br> 
			</div>
				</div>
				<div class = "col-md-4">
				  <div class = "card text-center">
				  <p class="btn btn-dark"><i class="fa fa-snowflake-o" ></i>Flexibility, freedom, fun</p>
			 <br>
			 <p>No matter the Travel Style, our tours balance well-planned itineraries with the flexibility to do your own thing and make the experience your own.</p>
			  <br>   
			</div>
				 </div>
				 <div class = "col-md-4">
				  <div class = "card text-center">
				  <p class="btn btn-dark"><i class="fa fa-map-marker"></i>T for Travel</p>
			 <br>
			 <p>When you travel with us, you experience first-hand our commitment to making travel a force for good is in everything we do. </p>
			  <br>  
			</div>
				 </div>
				</div>
			</div>
		  </section>
		  <br>
		

		<footer id="colorlib-footer" role="contentinfo">
			<div class="container">
				<div class="row row-pb-md">
					<div class="col-md-3 colorlib-widget">
						<h4>Adventure.Tour</h4>
						<p>Changing the world through travel: that’s been our goal.The idea has been at the heart of everything we have ever done and has helped us grow into one of the biggest adventure travel companies on the planet.
							Racism and discrimination have no place in our global community. We are committed to improving diversity within all of our operations.</p>
						<p>
							<ul class="colorlib-social-icons">
								<li><a href="#"><i class="icon-twitter"></i></a></li>
								<li><a href="#"><i class="icon-facebook"></i></a></li>
								<li><a href="#"><i class="icon-linkedin"></i></a></li>
								<li><a href="#"><i class="icon-dribbble"></i></a></li>
							</ul>
						</p>
					</div>
					<div class="col-md-2 colorlib-widget">
						<h4>Book Now</h4>
					
							<ul>
								<li><a href="index.html">Flight</a></li>
								<li><a href="hotels.html">Hotels</a></li>
								<li><a href="tours.html">Tour</a></li>
								<li><a href="index.html">Car Rent</a></li>
								<li><a href="tours.html">Beach &amp; Resorts</a></li>
								<li><a href="index.html">Cruises</a></li>
							</ul>
	
					</div>
					<div class="col-md-2 colorlib-widget">
						<h4>General</h4>
                <ul>
                    <li><a href="home page final.html">Home</a></li>
                    <li><a href="login-form/login.html">Sign In</a></li>
                    <li><a href="registration/registration.html">Sign Up</a></li>   
                    <li><a href="Affiliate Program.html">Affiliate Program</a></li>
                    <li><a href="Contact-Form/contact.html">Contact Us</a></li>
                </ul>           
					</div>
					<div class="col-md-2">
						<h4>About Us</h4>
            <ul>
              <li><a href="https://www.gadventures.com/sitemap/">SiteAap</a></li>
                <li><a href="Terms and Conditions.html">Terms & Condition</a></li>
                <li><a href="privancy policy.html">Privacy Policy</a></li>
            </ul>
					</div>

					<div class="col-md-3 col-md-push-1">
						<h4>Resource</h4>
                <ul>
                    <li><a href="Short Story/story.html">Experience</a></li>
                    <li><a href="video_section/index.html">Video </a></li>
                    <li><a href="#">Media Center</a></li>
                    <li><a href="https://www.gadventures.com/safety-updates/">Travel Alerts </a></li>
                    <li><a href="Contact-Form/contact.html">Advisory Panel</a></li>

                </ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-center">
						<p>
							<p class="end">Copyright © 2020 by Adventure.tour. All rights reserved.</p>
						</p>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
	</div>

	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="js/jquery.flexslider-min.js"></script>
	<!-- Owl carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	<!-- Date Picker -->
	<script src="js/bootstrap-datepicker.js"></script>
	<!-- Stellar Parallax -->
	<script src="js/jquery.stellar.min.js"></script>

	<!-- Main -->
	<script src="js/main.js"></script>

	</body>
</html>

