<footer id="colorlib-footer" role="contentinfo">
				<div class="container">
					<div class="row row-pb-md">
						<div class="col-md-3 colorlib-widget">
							<h4>Adventure.Tour</h4>
							<p>Changing the world through travel: that’s been our goal.The idea has been at the heart of
								everything we have ever done and has helped us grow into one of the biggest adventure
								travel companies on the planet.
								Racism and discrimination have no place in our global community. We are committed to
								improving diversity within all of our operations.</p>
							<p>
							<ul class="colorlib-social-icons">
								<li><a href="#"><i class="icon-twitter"></i></a></li>
								<li><a href="#"><i class="icon-facebook"></i></a></li>
								<li><a href="#"><i class="icon-linkedin"></i></a></li>
								<li><a href="#"><i class="icon-dribbble"></i></a></li>
							</ul>
							</p>
						</div>
						<div class="col-md-2 colorlib-widget">
							<h4>Book Now</h4>

							<ul>
								<li><a href="/">Flight</a></li>
								<li><a href="/hotels">Hotels</a></li>
								<li><a href="/tours">Tour</a></li>
								<li><a href="/">Car Rent</a></li>
								<li><a href="/tours">Beach &amp; Resorts</a></li>
								<li><a href="/">Cruises</a></li>
							</ul>

						</div>
						<div class="col-md-2 colorlib-widget">
							<h4>General</h4>
							<ul>
								<li><a href="/">Home</a></li>
								<li><a href="/login">Sign In</a></li>
								<li><a href="/registration">Sign Up</a></li>
								<li><a href="/AffiliateProgram">Affiliate Program</a></li>
								<li><a href="/contact">Contact Us</a></li>
							</ul>
						</div>
						<div class="col-md-2">
							<h4>About Us</h4>
							<ul>
								<li><a href="https://www.gadventures.com/sitemap/">SiteAap</a></li>
								<li><a href="/TermsAndConditions">Terms & Condition</a></li>
								<li><a href="/privacyPolicy">Privacy Policy</a></li>
							</ul>
						</div>

						<div class="col-md-3 col-md-push-1">
							<h4>Resource</h4>
							<ul>
								<li><a href="/story">Experience</a></li>
								<li><a href="/videos">Video </a></li>
								<li><a href="#">Media Center</a></li>
								<li><a href="https://www.gadventures.com/safety-updates/">Travel Alerts </a></li>
								<li><a href="/contact">Advisory Panel</a></li>

							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 text-center">
							<p>
							<p class="end">Copyright © 2020 by Adventure.tour. All rights reserved.</p>
							</p>
						</div>
					</div>
				</div>
			</footer>