<div class="adminUserEditUpdate">
        <div class="cardHeader">
            <h2>Add Product</h2>
        </div>
        <form method="POST" action="/admin/product">
            <table class="adminUserEditTable">

                <tbody>
                 
                    <tr>

                        <td class="adminUserEditData"><b>Name : </b></td>
                        <td class="adminUserEditData"><input type="text" name="name"></td>

                    </tr>
                    <tr>
                        <td class="adminUserEditData"><b>ImageLink : </b></td>
                        <td class="adminUserEditData"><input type="text" name="imageLink"></td>
                    </tr>
                    <tr>
                        <td class="adminUserEditData"><b>price : </b></td>
                        <td class="adminUserEditData"><input type="text" name="price"></td>
                    </tr> <tr>
                        <td class="adminUserEditData"><b>Discount : </b></td>
                        <td class="adminUserEditData"><input type="text" name="discount"></td>
                    </tr>


                
                </tbody>
            </table>
            <button class="btn">Add</button>
        </form>
    </div>