<section class="profile tabs" style="display: block;">
                <h1>Your Posts</h1>
                <div class="userpost">
                    <div class="posts">
                        <span><i class="fa fa-plus"></i></span>
                    </div>
                    <div class="posts">
                        <img width="200" src="/images/download.jpg" alt="" />
                        <p>Title or Name</p>
                    </div>
                    <div class="posts">
                        <img width="200" src="/images/download.jpg" alt="" />
                        <p>Title or Name</p>
                    </div>
                    <div class="posts">
                        <img width="200" src="/images/download.jpg" alt="" />
                        <p>Title or Name</p>
                    </div>
                    <div class="posts">
                        <img width="200" src="/images/download.jpg" alt="" />
                        <p>Title or Name</p>
                    </div>
                </div>
            </section>