<html lnag="en">
<heab>
    <meta charaset="UTF-8">

    <title> SHORT STORIES </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" href="try.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="footer.html/footer.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/proper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        h1 {
            color: rgba(5, 156, 43, 0.568);
        }

        a {
            text-align: center;
        }

        body {
            font-family: Verdana, sans-serif;
        }

        .mySlides {
            display: none;
        }

        img {
            vertical-align: middle;
        }

        .slideshow-container {
            max-width: 1000px;
            position: relative;
            margin: auto;
        }

        .text {
            color: #f2f2f2;
            font-size: 15px;
            padding: 8px 12px;
            position: absolute;
            bottom: 8px;
            width: 100%;
            text-align: center;
        }

        .numbertext {
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
        }

        .dot {
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }

        .active {
            background-color: #717171;
        }

        .fade {
            -webkit-animation-name: fade;
            -webkit-animation-duration: 1.5s;
            animation-name: fade;
            animation-duration: 1.5s;
        }

        @-webkit-keyframes fade {
            from {
                opacity: .4
            }

            to {
                opacity: 1
            }
        }

        @keyframes fade {
            from {
                opacity: .4
            }

            to {
                opacity: 1
            }
        }

        @media only screen and (max-width: 300px) {
            .text {
                font-size: 11px
            }
        }

        h2 {
            text-align: center;
            color: rgba(11, 4, 44, 0.932);
        }
    </style>
    </head>

    <body>
        <nav class="navbar navbar-dark bg-dark">
            <a href="#" class="navbar-brand">SHORT STORIES</a>
        </nav>
        <br>
        <br>
        <div class="container mt-1">
            <div class="card">
                <div class="row">
                    <div class="col-md-4">
                        <br>
                        <br>
                        <br>
                        <br>
                        <img src="/images50/alex.jpg" class="img-fluid">
                    </div>
                    <div class="col-md-8">
                        <h2 class="card-title mt-3">ALEX HONNOLD, Free Solo Rock Climber</h2>
                        <p>Rock climber Alex Honnold’s name pops up on lists like this one more than any other person on
                            the planet—his ropeless ascents are so universally frightening and impressive that he has
                            come to embody what we think of as adventure. In fact, Honnold’s ascents would be considered
                            major accomplishments even if he did use ropes, and yet he is committed to the
                            you-fall-you-die style in a way that no free-soloist has ever been. Thus, the 32-year-old is
                            the only person to have ever soloed famous big walls such as Half Dome, Moonlight Buttress
                            in Utah and, most famously, El Capitan.
                            “I love all types of climbing,” he told Men’s Journal, noting that he spends most of his
                            time climbing with ropes. “But free soloing is for special occasions—from time to time there
                            is a climb that means enough to me to solo.”
                            That passion was beautifully captured recently when he invited a film crew to document his
                            first free solo ascent El Capitan, perhaps the most groundbreaking climb of his life.
                            “That’s by far the most meaningful climb I’ve ever done,” he says. “It seemed impossible.”
                        </p>
                        <button class="btn btn-dark"><a href="https://en.wikipedia.org/wiki/Alex_Honnold">Read
                                More</a></button>
                    </div>
                </div>
            </div>

            <br>
            <div class="card">
                <div class="row">
                    <div class="col-md-4">
                        <br>
                        <br>
                        <br>
                        <br>
                        <img src="/images50/justin.jpg" class="img-fluid">
                    </div>
                    <div class="col-md-8">
                        <h2 class="card-title mt-3">JUSTIN FORNAL, Cultural Explorer</h2>
                        <p>
                            Justin Fornal is good at a lot of things. But describing what he does for a living is not
                            one of them—on any given expedition, he’s a cultural detective, extreme athlete, a culinary
                            explorer, or, most impressively, all of the above. But above all else, the Bronx dweller is
                            a seeker in search of the weird and wild, of the truth, and of his own personal limits.
                            Fornal has traveled 1,200 miles deep into the East African bush to learn more about the
                            Buganda tribe; he swam 100 miles around a Scottish island to create one of the rarest
                            whiskies in the world.
                            “All my stories are obsessions,” he says. “And when I can combine athleticism with cultural
                            research in the field to create something, that’s what makes it all worth it for me.”
                            Perhaps Fornal’s legacy will be as a pioneer in journalism, a sort of Hunter Thompson of the
                            Vice era. Indeed, his explorations carry as much weight and danger as any war reporter’s.
                            Later this year, he heads to Iraq to work with religious minorities; after that, he heads to
                            Afghanistan to gather a rare rock from the oldest mine and deliver it to artists in New
                            York. He’s also planning to swim 230 miles from Mopti to Timbuktu to build a clinic and
                            raise awareness in the fight against female genital mutilation. “At the heart of all my
                            field research is giving people a microphone,” he says. “I want to get the stories out there
                            while the stories can still be recorded.”
                        </p>
                        <button class="btn btn-dark"><a href="https://justinfornal.com/">Read More</a></button>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="row">
                    <div class="col-md-4">
                        <br>
                        <br>
                        <br>
                        <br>
                        <img src="/images50/jess.jpg" class="img-fluid">
                    </div>
                    <div class="col-md-8">
                        <h2 class="card-title mt-3">JESS ROSKELLEY, Alpinist</h2>
                        <p>
                            When you become the youngest person to climb Mount Everest at age 20, you have a lot of
                            options as to what sort of adventure you embark on next. But Jess Roskelley set that record
                            at a time in his life when he didn’t even know if he wanted to climb for a living. “I went
                            to Everest on a whim,” he says of the 2003 ascent, which he did with his famous mountaineer
                            father, John. “I didn’t know what I wanted to do.” Now 35, Roskelley is emerging as one of
                            America’s boldest alpinists, with a growing list of first ascents in some of the most remote
                            mountain ranges in the world.
                            One important lesson Everest did teach Roskelley was that trophy summits like Everest
                            definitely were not his thing. Instead, he kept returning to places like Alaska, where he
                            would only bother roping up for routes that were extremely hard to get to—and had never been
                            climbed. It wasn’t long before his talent linking vertical stretches of rock, snow, and ice,
                            in crushing weather conditions, was obvious to the entire climbing world. He became a North
                            Face athlete just this year and is eyeing routes in Alaska and Pakistan. “There are a few
                            lines I’ve been dreaming about for years—I’m now aiming for those,” he says.
                        </p>
                        <button class="btn btn-dark"><a href="https://en.wikipedia.org/wiki/Jess_Roskelley">Read
                                More</a></button>
                    </div>
                </div>
            </div>
            <br>

            <div class="card">
                <div class="row">
                    <div class="col-md-4">
                        <br>
                        <br>
                        <br>
                        <br>
                        <img src="/images50/ian.jpg" class="img-fluid">
                    </div>
                    <div class="col-md-8">
                        <h2 class="card-title mt-3"> IAN WALSH, Big Wave Surfer</h2>
                        <p>
                            Say what you will about surfers, there’s nothing laid back about Ian Walsh’s approach to
                            riding waves. It makes sense given the fact that he is one of the few humans on the planet
                            chasing the biggest storms around the world and regularly charging into 50-foot barrels.
                            Walsh is leading a new breed if big wave surfer that understands that being truly prepared
                            to take on record-breaking swell when it arrives is the future of the sport. “My training is
                            entirely connected to what happens in the water,” he explains. “The time I put in at the
                            gym, on the bike, the torturous hours doing breath-hold exercises—I’m putting myself in a
                            position to ride a wave I’ve been visualizing.”
                            Walsh surfed Jaws for the first time at age 16. Three years later, he was runner-up in the
                            Billabong XXL awards for riding a 68-footer at the same break. Since then, Walsh has placed
                            in the top three of so many Big Wave events that he is on his way to cementing his spot
                            alongside Shane Dorian and Greg Noll as one of the all-time greats. But the thing he learned
                            right from an early age is that truly giant surf is rare—often occurring less a few times a
                            year—and every wave deserves absolute focus. Thus, Walsh is basically changing surfing every
                            single time he paddles out or gets towed into a wall of water. “On each big day, the level
                            of our sport progresses—the types of lines people are riding, the equipment…” he told Men’s
                            Journal. “The stakes are very high and, while you can’t control everything, you can control
                            how ready you are.”
                        </p>
                        <button class="btn btn-dark"><a
                                href="https://www.google.com/search?client=firefox-b-d&q=+IAN+WALSH%2C+Big+Wave+Surfer">Read
                                More</a></button>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="row">
                    <div class="col-md-4">
                        <br>
                        <br>
                        <br>
                        <br>
                        <img src="/images50/FELICITY ASTON.jpg" class="img-fluid">
                    </div>
                    <div class="col-md-8">
                        <h2 class="card-title mt-3">FELICITY ASTON, Polar Explorer</h2>
                        <p>
                            British Polar explorer Felicity Aston thinks everyone needs to really freeze their asses off
                            at least once in their life. As one of the most experienced and accomplished living Polar
                            explorers, her career has long been driven by curiosity and conservation. But these days,
                            she’s using her skills to shatter some long-standing barriers by exposing more people to the
                            Polar regions. “I wish I could take everybody to these places,” she says. “When you
                            experience them for yourself, then you care about them.” Specifically, Aston has chosen to
                            invite expedition members that challenge the idea of what an explorer looks like,
                            specializing in all-female expeditions; she recently led a team of European and Middle
                            Eastern women to the North Pole.
                            Aston began her career as a meteorologist stationed in Antarctica but decided it was time to
                            step out of her comfort zone in 2006 when she joined the first all-female British expedition
                            across the Greenland ice sheet. Six years and several polar trips later, Aston became the
                            first person ever to ski alone across Antarctica, under their own steam (which earned her
                            prestigious MBE status from the British government). It doesn’t seem swanky awards are
                            slowing her down. “Three weeks ago, the helicopter dropped us off on the ice and it was
                            -38C,” she told us after returning from the North Pole. By the end of that day, I had a girl
                            with such severe frostbite she had to leave the expedition.”
                        </p>
                        <button class="btn btn-dark"><a href="http://www.felicityaston.co.uk/about">Read
                                More</a></button>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="row">
                    <div class="col-md-4">
                        <br>
                        <br>
                        <br>
                        <br>
                        <img src="/images50/rue.jpg" class="img-fluid">
                    </div>
                    <div class="col-md-8">
                        <h2 class="card-title mt-3"> RUE MAPP, Activist</h2>
                        <p>
                            Rue Mapp (above, center) believes the outdoors is a place where we can leave the burdens of
                            societal dysfunction behind. Through Outdoor Afro, a nationwide network of black
                            enthusiasts, she’s helping adventurers of color connect in what’s perceived as an
                            overwhelmingly white dominion.
                            “I was going to the traditional outdoor clubs and groups, reading outdoor magazines, and I
                            wasn’t seeing myself,” she told Men’s Journal. “I was tired of being the only one—the only
                            black person on a ride, on a hike—so we put the word out. We started hearing from the other
                            ‘only ones’, and then put all the only ones together and became a community.”
                            Since founding the community in 2009, Mapp has been to the White House, was named one of the
                            most influential African Americans in the country by The Root, and received the Outdoor
                            Industry Inspiration Award. But Mapp’s work has never been more important than right now—she
                            says the outdoors is much more than an exciting escape; it’s a rare safe-haven at a time of
                            heightened insecurity. “After Ferguson, we started doing healing hikes—we took it to
                            nature,” she says. “The trees don’t know you’re black. The birds don’t know how much money
                            you have in your bank account.”
                        </p>
                        <button class="btn btn-dark"><a
                                href="https://truthout.org/articles/meet-the-activist-who-is-driving-the-push-to-reclaim-nature-for-black-people/">Read
                                More</a></button>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="row">
                    <div class="col-md-4">
                        <br>
                        <br>
                        <br>
                        <br>
                        <img src="/images50/STEVE AND CHRIS BOYES.jpg" class="img-fluid">
                    </div>
                    <div class="col-md-8">
                        <h2 class="card-title mt-3">STEVE AND CHRIS BOYES, Conservationists</h2>
                        <p>
                            South African conservationists Steve and Chris Boyes (in the foreground) may have different
                            skill sets, but they certainly have a very singular vision: uncover the striking beauty of
                            totally untouched landscapes—no matter what the danger—in order to save them. And in places
                            like Botswana, Rwanda, and Zambia, a simple walk in the woods can be deadly. “If you don’t
                            experience the heart of a place, you can’t represent it honestly and raise millions of
                            dollars for it—we have to know the soul of it,” says Dr. Steve Boyes, 39, who spends a lot
                            of his time lobbying in Washington or Europe, raising money, and raising awareness. “We need
                            to be able to tell a government official we’ve seen every inch of a river, so we risk our
                            lives for that once-in-a-lifetime benefit.” Steve’s brother Chris, who is two years younger,
                            is largely in charge of expedition logistics, spending up to nine months of every year out
                            in the field.
                            Known early on as “The Bush Boyes” through their work with National Geographic, and the Wild
                            Bird Trust, the two just premiered their documentary Into the Okavango at the 2018 Tribeca
                            Film Festival. It’s their most important work to date, in their effort to gather stunning
                            film footage as a way of recording a place exactly as it exists at that moment in time, for
                            generations to come. It also highlights the dangers of their work.
                            “In the film, a hippo capsizes my boat,” says Steve. “But that happens once a week.
                            Crocodiles also bump us or jump over the boat. On the river you have to be absolutely
                            focused—every hump or ripple in the water, every eddy, every movement, every sound. If you
                            drop that focus, you get in trouble.”
                        </p>
                        <button class="btn btn-dark"><a
                                href="https://www.nationalgeographic.com/expeditions/experts/steve-boyes/">Read
                                More</a></button>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="row">
                    <div class="col-md-4">
                        <br>
                        <br>
                        <br>
                        <br>
                        <img src="/images50/KIT DESLAURIERS.jpg" class="img-fluid">
                    </div>
                    <div class="col-md-8">
                        <h2 class="card-title mt-3">KIT DESLAURIERS, Ski Mountaineer</h2>
                        <p>
                            You know someone is passionate about skiing when they ascend mountains that even climbers
                            are scared of just for the downhill. Kit DesLauriers has made a career of making fresh
                            tracks in some of the most technical and dangerous peaks in the world. Skiing has always
                            been in DesLauriers’ blood, as she did longs stints as a ski bum in the Alps and Rockies,
                            eventually winning back-to-back World Freeskiing Championships in 2004 and 2005. She also
                            racked up notable descents off Mt. Aspiring in New Zealand and The Grand Teton in Wyoming.
                            But she became the official queen of first descents when she became the first person ever to
                            ski the Seven Summits, the highest peak on each continent, in 2006.
                            Since then, her love of skiing remote and technical lines has evolved into a sort of extreme
                            eco-activism. DesLauriers has just set off on her third expedition to the Arctic Refuge in
                            Alaska, where she has her eyes on skiing the second highest peak in the Brook’s Range (she
                            has already skied the first, third, fourth, and fifth highest peaks—and all have been first
                            descents). But at age 49, it’s clear her priorities have shifted, slightly.
                            “Yeah, there will be a few ski descents,” she told Men’s Journal before she left. “But these
                            are adventures where I’m able to incorporate my skills into the effort to protect sacred
                            lands.” Meanwhile, DesLauriers points to a new set concerns, such as the remoteness and
                            polar bears, that come with the new style of adventure. Part of her prep for her upcoming
                            trip was handgun training.
                            One thing is clear, no matter what DesLauriers does, it will always involve skis and a
                            little downhill. “I learned early on that when I don’t have my skis, it just feels like
                            something’s missing,” she says.
                        </p>
                        <button class="btn btn-dark"><a href="https://kitdeslauriers.com/">Read More</a></button>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="row">
                    <div class="col-md-4">
                        <br>
                        <br>
                        <br>
                        <br>
                        <img src="/images50/tashi.jpg" class="img-fluid">
                    </div>
                    <div class="col-md-8">
                        <h2 class="card-title mt-3">TASHI AND NUNGSHI MALIK, Everest Summiteers and Activists</h2>
                        <p>
                            Mountaineering has long been a surprisingly democratic pursuit, in which the old routinely
                            outperform the young and women are often stronger than men. For Indian twins Tashi and
                            Nungshi Malik, mountaineering felt like the perfect way to highlight gender inequality in
                            their home country; they became the first twins to summit Everest in 2013, at the age of 21.
                            And that was just the beginning of their incredible journey—one year later they had climbed
                            all of the Seven Summits, and a year after that, they had skied to both the North and South
                            Pole, becoming the youngest people ever to achieve what’s known as the “Explorers Grand
                            Slam” at just 24.
                            The Malik’s adventure accomplishments are undeniable. But it’s what drove them to achieve so
                            much at such a young age—and the societal oppression they had to overcome—that makes them
                            remarkable. Having grown up in a society in which nearly all sports are off-limits to girls,
                            their dreams seemed impossible and it was their father, of all people, who pushed them to
                            ignore gender and pursue their passion. They’re already planning their next adventure: they
                            have their eyes on the world’s four largest ice caps.”
                            “[India’s girls] have numerous ‘Mountains to climb’ to merely survive,” Nungshi once said.
                            “We’ve resolved to stand solidly with them and pledge all our resources to help them earn
                            their rightful and equal place in society.”
                        </p>
                        <button class="btn btn-dark"><a
                                href="https://armadillomerino.com/blogs/champions/005-tashi-and-nungshi-malik-passionate-mountaineers-and-guinness-world-record-holders">Read
                                More</a></button>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="row">
                    <div class="col-md-4">
                        <br>
                        <br>
                        <br>
                        <br>
                        <img src="/images50/VINCENT COLLIARD.jpg" class="img-fluid">
                    </div>
                    <div class="col-md-8">
                        <h2 class="card-title mt-3">VINCENT COLLIARD, Polar Explorer</h2>
                        <p>
                            The word commitment gets thrown around a lot in adventure. French Polar explorer Vincent
                            Colliard is setting a new bar with his aim to ski the 20 largest ice caps over the next 10
                            years. After some impressive expeditions and first ascents in cold and remote places such as
                            the Himalaya and Patagonia, the mountain guide from the Basque country met accomplished
                            Norwegian Polar explorer Børge Ousland. After sailing the Northwest Passage together, they
                            launched Project Ice Legacy in 2014 and have already ticked off five ice caps on the list,
                            including the three biggest, which are all in Alaska.
                            Awareness, of course, is at the heart of Colliard’s mission, as he sees the ice caps as our
                            most fragile and vulnerable ecosystems. As such, he’s teamed up with the scientific
                            community in collecting data from the field that will help us chart how fast the ice is
                            disappearing. One thing is for sure, no one on this planet will know the ice caps quite like
                            Colliard by 2024.
                        </p>
                        <button class="btn btn-dark"><a
                                href="https://www.helsport.com/en/discover-helsport/community/vincent-colliard/">Read
                                More</a></button>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="row">
                    <div class="col-md-4">
                        <br>
                        <br>
                        <br>
                        <br>
                        <img src="/images50/JEREMY JONES.jpg" class="img-fluid">
                    </div>
                    <div class="col-md-8">
                        <h2 class="card-title mt-3">JEREMY JONES, Snowboarder</h2>
                        <p>
                            A few years ago, Jeremy Jones pulled off an incredible trick: the mountains he was climbing
                            were so technical, and his impossible lines down so mind-blowing, that people were
                            forgetting what was under his feet, as skiers and snowboarders alike were simply in awe of
                            how he was pushing extreme snow sports of any kind to a new level.
                            Jones famously gave up helicopters many years ago, saying ‘they just complicate things’, and
                            made the film Deeper, the first snowboard flick featuring only non machine-assisted ascents.
                            In 2013 Jones rode a 3,600-foot spine, off of an unclimbed, unnamed peak in the Alaska Range
                            and made the first descent of a 60-degree spine off of 21,000-foot Shangri La in the
                            Nepalese Himalaya, for the film Higher.
                            Jones is also somewhat of a pioneer for his preferred mode of transport in the mountains: a
                            splitboard, which is a snowboard that splits in half to become skis for the ascent and then
                            becomes a snowboard again for the descent. Perhaps even more important is his conservation
                            work—in 2007 he founded Protect Our Winters, a non-profit dedicated to raising awareness
                            about the effect of climate change on snowpack.
                            Despite Jones’ push toward bigger and bigger peaks to bomb down, higher does not equal
                            better. “If I see a line that really inspires me, I’m a little bummed if I find out that
                            line is at 20,000 feet,” he admits. “As much as I like the hiking, it’s still about the ride
                            down.
                        </p>
                        <button class="btn btn-dark"><a
                                href="https://en.wikipedia.org/wiki/Jeremy_Jones_(freestyler)">Read More</a></button>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="row">
                    <div class="col-md-4">
                        <br>
                        <br>
                        <br>
                        <br>
                        <img src="/images50/MELISSA ARNOT.jpg" class="img-fluid">
                    </div>
                    <div class="col-md-8">
                        <h2 class="card-title mt-3">MELISSA ARNOT, Mountain Guide, Everest Record Holder</h2>
                        <p>
                            Melissa Arnot is famous throughout the adventure world for having been to the summit of
                            Everest six times, more than any other western woman. But her true legacy lies in the number
                            of times she’s been to the summit of the much more modest Mt Rainier in Washington state. As
                            one of the hardest working mountain guides in the world, Arnot has ascended Rainier over 90
                            times, delivering newbies of all ages to the summit.
                            “My greatest passion is with guiding,” she says. “First ascents are fun, but I only do
                            harder personal trips so I can empathize with clients better. I like watching people become
                            better people in the mountains.”
                            That’s not to say Arnot’s Everest climbs are a mere afterthought. She not only summited for
                            the first time at just 24 years old, but on her last Everest climb in 2016, she became the
                            first American woman to climb the mountain without supplemental oxygen. The mountain holds a
                            particularly special place in Arnot’s heart, as she believes that western guides and
                            climbers have an important opportunity to become better stewards in the region. Back in
                            2012, she co-founded the Juniper Fund, which provides life insurance and job training for
                            Sherpa people whose family members have died or gotten injured while working on the
                            mountain.
                            “Nepal is so important to me,” she says. “The guiding industry on Everest is relatively
                            young and we can shape it. You see a lot of really negative articles about Everest climbs
                            these days and it’s not quite like that—but it’s still not as good as it could be.”
                        </p>
                        <button class="btn btn-dark"><a href="https://team.eddiebauer.com/post/116067961805">Read
                                More</a></button>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="row">
                    <div class="col-md-4">
                        <br>
                        <br>
                        <br>
                        <br>
                        <img src="/images50/CRISTINA MITTERMEIER AND PAUL NICKLEN.jpg" class="img-fluid">
                    </div>
                    <div class="col-md-8">
                        <h2 class="card-title mt-3">CRISTINA MITTERMEIER AND PAUL NICKLEN, Ocean Conservationists</h2>
                        <p>
                            Talk about a power couple: Cristina Mittermeier and Paul Nicklen were two of the most
                            influential wildlife conservation photographers in the world before they even met each
                            other. Mittermeier is a one-time Smithsonian Photographer of the year and founded the
                            International League of Conservation Photographers; Nicklen is a multi-award winning 20-year
                            vet National Geographic photographer. Now married, they have a combined 5 million followers
                            on Instagram and their images have come to define a movement. As trained marine biologists,
                            photographers, and storytellers, Mittermeier, 51, and Nicklen, 49, have a shared conviction
                            that powerful images will always move the needle more than anything else when it comes to
                            raising awareness about the shocking damage climate change causes. “It’s gotta be
                            beautiful,” Nicklen once said. “It’s gotta teach you something and it’s gotta make you
                            care.”
                            While their conservation work does come ashore at times—they were integral in highlighting
                            and stopping the construction of an 1,100 mile oil pipeline in British Columbia—the Canadian
                            couple is now focused on Sea Legacy, a non-profit designed to rally the masses to join in
                            their fight for what they call “healthy and abundant oceans.” Their weapon of choice in that
                            fight? You guessed it: arresting images gathered during daring expeditions to remote and
                            wild places.
                        </p>
                        <button class="btn btn-dark"><a
                                href="https://www.nationalgeographic.com/adventure/article/cristina-mittermeier-paul-nicklen-photographers-scientists">Read
                                More</a></button>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="row">
                    <div class="col-md-4">
                        <br>
                        <br>
                        <br>
                        <br>
                        <img src="/images50/ashima_olympics.jpg" class="img-fluid">
                    </div>
                    <div class="col-md-8">
                        <h2 class="card-title mt-3">ASHIMA SHIRAISHI, Climber</h2>
                        <p>
                            At 17 years old—and just over 5 feet tall—Ashima Shiraishi is the future of climbing. While
                            climbing has long been a somewhat gender neutral pursuit, this slight young woman from New
                            York City has won so many competitions and broken so many records that she may
                            singlehandedly make gender-specific competition categories obsolete. Despite her young age,
                            Shirashi is certainly not new to the sport. She began climbing at age seven and at age 10
                            became the youngest person ever to climb V10 (that’s climber speak for handholds the size of
                            a nickel laying flat). At 14, she became the youngest person, and the first female, to
                            complete a V15.
                            With so few sports out there that are totally blind to gender, size, and strength, rock
                            climbing will be a particularly important discipline for the next generation. With climbing
                            set to debut as an Olympic sport in 2020, her talent will go down in history for having
                            helped usher in an era where size, shape, gender, age, and ethnicity get second billing to
                            achievement.
                        </p>
                        <button class="btn btn-dark"><a href="https://en.wikipedia.org/wiki/Ashima_Shiraishi">Read
                                More</a></button>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="row">
                    <div class="col-md-4">
                        <br>
                        <br>
                        <br>
                        <br>
                        <img src="/images50/CHRIS BURKARD.jpg" class="img-fluid">
                    </div>
                    <div class="col-md-8">
                        <h2 class="card-title mt-3">CHRIS BURKARD, Adventure Photographer</h2>
                        <p>
                            It’s hard not to be moved by a photo of a climber clinging to a cliff face, 2,000 feet off
                            the ground, or a skier mid-flight, or a surfer so deep in a barrel that you have to know
                            what happens next. But it’s easy to forget that there is a person behind the camera in those
                            same extreme conditions, capturing that image. Early on, Chris Burkard took a simple passion
                            for watersports and photography to become a regular shooter for iconic outlets such as
                            Surfer magazine and Transworld Surfing. The 32-year-old’s ability to use natural light to
                            capture both the action and natural landscape in equal glory made him one of the most
                            sought-after adventure photographers in the country. Meanwhile, the one-time wedding
                            photographer seemed to simply continue pursuing his passions and his surf adventures became
                            more and more legendary. And while he was amassing 3 million Instagram followers and several
                            prestigious awards—including a Red Bull Illume award in 2010 and second place in the World
                            Open of Photographers—Burkard produced four films, including 2017’s Under an Arctic Sky. In
                            it, he captures some of the best surfers in the world shredding some of the coldest swell on
                            the planet in Iceland. As we continue to be most transfixed by the unexpected, Burkard’s
                            work is sure to remain our most exciting portal into the world of adventure.
                        </p>
                        <button class="btn btn-dark"><a href="https://www.chrisburkard.com">Read More</a></button>
                    </div>
                </div>
            </div>
            <br>
             <a href="/"><h3>Back to Home Page</h3></a>
             <br>
        </div>
        
    </body>

</html>