<html>
  <head>
    <title>Travel Type</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Raleway"
    />
    <link rel="stylesheet" href="/css46/TravellingType.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <style>
    body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
  </style>
  <body class="w3-light-grey">

    <!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
    <div class="w3-content" style="max-width:1400px">

      <!-- Header -->
      <header class="w3-container w3-center w3-padding-32">
        <h1><b>Travel Types</b></h1>
        <p>Welcome to the world of <span class="w3-tag">unknown</span></p>
      </header>

      <!-- Grid -->
      <div class="w3-row">

        <!-- Blog entries -->
        <div class="w3-col l8">
          <!-- Blog entry -->
          <div class="w3-card-4 w3-margin w3-white">

            <nav class="menu">
              <ul>
                <li>
                  <a href="/"><i class="fa fa-home"></i>Home</a>
                </li>
                <li>
                  <a href="/river">Prominent Rivers</a>
                </li>
                <li>
                  <a href="/photos"><i class="fa fa-picture-o"></i>Photos</a>
                </li>
                <li>
                  <a href="/available-product"><i
                      class="fa fa-shopping-cart"
                    ></i>Available Products</a>
                </li>
                <li>
                  <a href="/review">Review</a>
                </li>
                <li>
                  <a href="/travelling-style">Travel Style</a>
                </li>
              </ul>
            </nav>

            <img src="/images46/scuba.jpg" alt="Nature" style="width:100%" />
            <div class="w3-container w3-padding-8">
              <h3><b>Scuba Diving</b></h3>

            </div>

            <div class="w3-container">
              <p>Scuba diving is a mode of underwater diving where the diver
                uses an apparatus which is completely independent of surface
                supply to breathe underwater. The name "scuba", an acronym of
                "Self-Contained Underwater Breathing Apparatus", was first used
                by Christian J. Lambertsen in a patent submitted in 1952. Scuba
                divers carry their own source of breathing gas, usually
                compressed air,[2] allowing them greater independence and
                freedom of movement than surface-supplied divers, and longer
                underwater endurance than breath-hold divers.[1] Although the
                use of compressed air is common, a mixture of air and oxygen
                called enriched air or nitrox has become popular due to its
                benefit of reduced nitrogen intake during long or repetitive
                dives. Breathing gas diluted with helium may be used to reduce
                nitrogen narcosis. Open circuit scuba systems discharge the
                breathing gas into the environment as it is exhaled, and consist
                of one or more diving cylinders containing breathing gas at high
                pressure which is supplied to the diver through a diving
                regulator. They may include additional cylinders for range
                extension, decompression gas or emergency breathing gas .
                Closed-circuit or semi-closed circuit rebreather scuba systems
                allow recycling of exhaled gases. The volume of gas used is
                reduced compared to that of open circuit, so a smaller cylinder
                or cylinders may be used for an equivalent dive duration.
                Rebreathers extend the time spent underwater compared to open
                circuit for the same gas consumption; they produce fewer bubbles
                and less noise than open circuit scuba which makes them
                attractive to covert military divers to avoid detection,
                scientific divers to avoid disturbing marine animals, and media
                divers to avoid bubble interference.</p>
              <div class="w3-row">
                <div class="w3-col">

                </div>
                <div class="w3-col m4 w3-hide-small">

                </div>
              </div>
            </div>
          </div>
          <hr />

          <!-- Blog entry -->
          <div class="w3-card-4 w3-margin w3-white">
            <img src="/images46/sailing.jpg" alt="Norway" style="width:100%" />
            <div class="w3-container w3-padding-8">
              <h3><b>Sailing Around The World</b></h3>

            </div>

            <div class="w3-container">
              <p>Sailing employs the wind—acting on sails, wingsails or kites—to
                propel a craft on the surface of the water (sailing ship,
                sailboat, windsurfer, or kitesurfer), on ice (iceboat) or on
                land (land yacht) over a chosen course, which is often part of a
                larger plan of navigation. Until the middle of the 19th century,
                sailing ships were the primary means for marine exploration,
                commerce, and projection of military power; this period is known
                as the Age of Sail. In the 21st century, most sailing represents
                a form of recreation or sport. Recreational sailing or yachting
                can be divided into racing and cruising. Cruising can include
                extended offshore and ocean-crossing trips, coastal sailing
                within sight of land, and daysailing. Sailing relies on the
                physics of sails as they derive power from the wind, generating
                both lift and drag. On a given course, the sails are set to an
                angle that optimizes the development of wind power, as
                determined by the apparent wind, which is the wind as sensed
                from a moving vessel. The forces transmitted via the sails are
                resisted by forces from the hull, keel, and rudder of a sailing
                craft, by forces from skate runners of an iceboat, or by forces
                from wheels of a land sailing craft to allow steering the
                course. This combination of forces means that it is possible to
                sail an upwind course as well as downwind. The course with
                respect to the true wind direction (as would be indicated by a
                stationary flag) is called a point of sail. Conventional sailing
                craft cannot derive wind power on a course with a point of sail
                that is too close into the wind.</p>
              <div class="w3-row">
                <div class="w3-col">

                </div>
                <div class="w3-col m4 w3-hide-small">

                </div>
              </div>
            </div>
          </div>
          <!-- END BLOG ENTRIES -->
          <!-- Blog entry -->
          <div class="w3-card-4 w3-margin w3-white">
            <img src="/images46/skydiving.png" alt="Norway" style="width:100%" />
            <div class="w3-container w3-padding-8">
              <h3><b>Paragliding</b></h3>

            </div>

            <div class="w3-container">
              <p>Paragliding is the recreational and competitive adventure sport
                of flying paragliders: lightweight, free-flying, foot-launched
                glider aircraft with no rigid primary structure. The pilot sits
                in a harness or lies supine in a cocoon-like 'speed bag'
                suspended below a fabric wing. Wing shape is maintained by the
                suspension lines, the pressure of air entering vents in the
                front of the wing, and the aerodynamic forces of the air flowing
                over the outside. Despite not using an engine, paraglider
                flights can last many hours and cover many hundreds of
                kilometres, though flights of one to two hours and covering some
                tens of kilometres are more the norm. By skillful exploitation
                of sources of lift, the pilot may gain height, often climbing to
                altitudes of a few thousand metres.</p>
              <div class="w3-row">
                <div class="w3-col">

                </div>
                <div class="w3-col m4 w3-hide-small">

                </div>
              </div>
            </div>
          </div>
          <!-- END BLOG ENTRIES -->
        </div>

        <!-- Sidebar -->
        <div class="w3-col l4">
          <!-- About Card -->
          <div class="w3-card-2 w3-margin w3-margin-top">
            <img src="/images46/Roadtrip.jpg" style="width:100%" />
            <div class="w3-container w3-white">
              <h4><b>Road Trip</b></h4>
              <p>The world's first recorded long-distance road trip by the
                automobile took place in Germany in August 1888 when Bertha
                Benz, the wife of Karl Benz, the inventor of the first patented
                motor car (the Benz Patent-Motorwagen), traveled from Mannheim
                to Pforzheim (a distance of 106 km (66 mi)) in the third
                experimental Benz motor car (which had a maximum speed of 10
                miles per hour (16 km/h)) and back, with her two teenage sons
                Richard and Eugen, but without the consent and knowledge of her
                husband. Her official reason was that she wanted to visit her
                mother but unofficially she intended to generate publicity for
                her husband's invention (which had only been used on short test
                drives before), which succeeded as the automobile took off
                greatly afterward and the Benz's family business eventually
                evolved into the present-day Mercedes-Benz company.[2] Presently
                there is a dedicated signposted scenic route in
                Baden-Württemberg called the Bertha Benz Memorial Route to
                commemorate her historic first road trip.</p>
            </div>
          </div><hr />

          <div class="w3-card-2 w3-margin w3-margin-top">
            <img src="/images46/backpacking.jpg" style="width:100%" />
            <div class="w3-container w3-white">
              <h4><b>Backpacking Trip</b></h4>
              <p>Backpacking is an adventure that blends hiking with backcountry
                camping. It lets you broaden your horizons beyond the car
                campground to enjoy a richer, more immersive outdoor experience.
                A key distinction from day hiking is the size of your pack—your
                backpack (and you) must carry all of life’s essentials on your
                back. And you must choose those essentials with care. If you
                have an experienced backpacking friend who knows you well,
                invite them along and they can be your guide. But you can also
                do this backpacking thing on your own—that’s the focus of this
                article. We advise you to bring a friend regardless of their
                backpacking knowledge, though, because that makes any trip safer
                and more fun.
              </p>
            </div>
          </div><hr />

          <div class="w3-card-2 w3-margin w3-margin-top">
            <img src="/images46/adventure.jpg" style="width:100%" />
            <div class="w3-container w3-white">
              <h4><b>Adventure Trip</b></h4>
              <p>BaAdventure travel is a type of niche tourism, involving
                exploration or travel with a certain degree of risk (real or
                perceived), and which may require special skills and physical
                exertion. In the United States, adventure tourism has grown in
                recent decades as tourists seek out-of-the-ordinary or "roads
                less traveled" vacations, but lack of a clear operational
                definition has hampered measurement of market size and growth.
                According to the U.S.-based Adventure Travel Trade Association,
                adventure travel may be any tourist activity that includes
                physical activity, a cultural exchange, and connection with
                nature. Adventure tourists may have the motivation to achieve
                mental states characterized as rush or flow, resulting from
                stepping outside their comfort zone. This may be from
                experiencing culture shock or by performing acts requiring
                significant effort and involve some degree of risk, real or
                perceived, or physical danger. This may include activities such
                as mountaineering, trekking, bungee jumping, mountain biking,
                cycling, canoeing, scuba diving, rafting, kayaking, zip-lining,
                paragliding, hiking, exploring, canyoneering, sandboarding,
                caving and rock climbing.[3] Some obscure forms of adventure
                travel include disaster and ghetto tourism.[4] Other rising
                forms of adventure travel include social and jungle tourism.
              </p>
            </div>
          </div><hr />

          <!-- Sidebar-->
        </div>

        <!-- END GRID -->
      </div><br />

      <!-- END w3-content -->
    </div>

    <!-- Footer -->
    <footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">

    </footer>

  </body>
</html>