body{
    font-family: sans-serif;
    background-color: rgba(220, 220, 220, 0.678);
  
}
h1{
    text-align:center;
    color: forestgreen;
    margin: 30px 0 50px;
}


.gallery{
    margin: 10px 50px;
}
.gallery img{
    transition: 1s;
    padding: 15px;
    width:200px;
    height: 140px;
    
}
.gallery img:hover{
    filter:grayscale(100%);
    transform: scale(1.2);
}