
  
  html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
  }
  
  body {
    margin: 0
  }
  
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  main,
  menu,
  nav,
  section,
  summary {
    display: block
  }
  

  html,
  body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5
  }
  
  html {
    overflow-x: hidden
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .w3-slim,
  .w3-wide {
    font-family: "Segoe UI", Arial, sans-serif
  }
  
  h1 {
    font-size: 36px
  }
  
  h2 {
    font-size: 30px
  }
  
  h3 {
    font-size: 24px
  }
  
  h4 {
    font-size: 20px
  }
  
  h5 {
    font-size: 18px
  }
  
  h6 {
    font-size: 16px
  }
  
  
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
    margin: 10px 0
  }
 
  .w3-padding-32 {
    padding-top: 32px!important;
    padding-bottom: 32px!important
  }
  .w3-tag{
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center
}
  hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0
  }
  
  img {
    margin-bottom: -5px
  }

 .w3-center{
  text-align: center!important;
 }
    
  .w3-responsive {
    overflow-x: auto
  }
  
  .w3-container:after, 
  .w3-panel:after,
  .w3-row:after, 
  .w3-row-padding:after, 
  .w3-topnav:after,
  .w3-clear:after,
  .w3-btn-group:before,
  .w3-btn-group:after,
  .w3-btn-bar:before,
  .w3-btn-bar:after {
    content: "";
    display: table;
    clear: both
  }
  
  .w3-col, 
  .w3-half,
  .w3-third,
  .w3-twothird,
  .w3-threequarter,
  .w3-quarter {
    float: left;
    width: 100%
  }
  

  @media only screen and (min-width:993px) { 
    .w3-col.l1 {
      width: 8.33333%
    }
    .w3-col.l2 {
      width: 16.66666%
    }
    .w3-col.l3,
    .w3-quarter {
      width: 24.99999%
    }
    .w3-col.l4,
    .w3-third {
      width: 33.33333%
    }
    .w3-col.l5 {
      width: 41.66666%
    }
    .w3-col.l6,
    .w3-half {
      width: 49.99999%
    }
    .w3-col.l7 {
      width: 58.33333%
    }
    .w3-col.l8,
    .w3-twothird {
      width: 66.66666%
    }
    .w3-col.l9,
    .w3-threequarter {
      width: 74.99999%
    }
    .w3-col.l10 {
      width: 83.33333%
    }
    .w3-col.l11 {
      width: 91.66666%
    }
    .w3-col.l12 {
      width: 99.99999%
    }
  }
  
  .w3-content {  
    max-width: 980px;
    margin: auto
  }
 
  
  @media (max-width:600px) { 
    .w3-hide-small {
      display: none!important
    }
  }
  
  .w3-margin { 
    margin: 16px!important
  }
  
  .w3-margin-0 { 
    margin: 0!important
  }
  
  .w3-margin-top { 
    margin-top: 16px!important
  }
  
  .w3-margin-bottom { 
    margin-bottom: 16px!important
  }
  
  .w3-margin-left { 
    margin-left: 16px!important
  }
  
  .w3-margin-right { 
    margin-right: 16px!important
  }
  
  .w3-padding-8 { 
    padding-top: 8px!important;
    padding-bottom: 8px!important
  }
  
  .w3-row-padding, 
  .w3-row-padding>.w3-half, 
  .w3-row-padding>.w3-third, 
  .w3-row-padding>.w3-twothird, 
  .w3-row-padding>.w3-threequarter, 
  .w3-row-padding>.w3-quarter, 
  .w3-row-padding>.w3-col { 
    padding: 0 8px
  }
  
  .w3-container { 
    padding: 0.01em 16px
  }
  
  .w3-card-2, 
  .w3-example {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)!important
  }
  
  .w3-card-4, 
  .w3-hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important
  }
  
  .w3-card-24 { 
    box-shadow: 0 24px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22)!important
  }
  
  .w3-white, 
  .w3-hover-white:hover {
    color: #000!important;
    background-color: #fff!important
  }
  /*nav*/

nav.menu ul {
	overflow:hidden;
  float: left !important;
  width: 100% !important;
	padding:0;
	margin:0 0 0;
	list-style: none;
	color:#fff;
	background: rgba(5, 15, 156, 0.747);;
	  -webkit-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.55);
	-moz-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.55);
	box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.55);
  }
  
  nav.menu ul li {
	float:left;
	margin:0;
  margin-left: 10px !important;
  }
nav.menu ul a {
	display:block;
	padding:25px;
	font-size: 16px;
	font-weight:600;
	text-transform: uppercase;
	color:#fff;
	text-decoration: none;
	transition: all 0.5s ease;
  }
  
  nav.menu ul a:hover {
	background:rgba(5, 15, 156, 0.747);;
	
  }
nav.menu ul {
	width: 100%;
  }
	
	  nav.menu ul {
	float:inherit;
  }
	
	nav.menu ul li {
	float:inherit;
	margin:0;
  }
nav.menu ul a {
	padding:15px;
	font-size: 16px;
	border-bottom:1px solid rgba(5, 15, 156, 0.747);;
	border-top:1px solid rgba(5, 15, 156, 0.747);;
  }
  @media screen and (max-width: 460px) {
 
	nav.menu ul a {
	padding:15px;
	font-size: 14px;
  }
}
