<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title> Adventure Tour Guideline Website </title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
	<link rel="stylesheet" href="try.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="footer.html/footer.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/proper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	<meta property="og:site_name" content="" />
	<meta property="og:description" content="" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="/css50/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/css50/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/css50/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/css50/magnific-popup.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="/css50/flexslider.css">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="/css50/owl.carousel.min.css">
	<link rel="stylesheet" href="/css50/owl.theme.default.min.css">

	<!-- Date Picker -->
	<link rel="stylesheet" href="/css50/bootstrap-datepicker.css">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="/css50/style.css">

	<!-- Modernizr JS -->
	<script src="/js50/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="/js50/respond.min.js"></script>
	<![endif]-->

</head>

<body>

	<div class="colorlib-loader"></div>

	<div id="page">
		{{>header}}
		<aside id="colorlib-hero">
			<div class="flexslider">
				<ul class="slides">
					<li style="background-image: url(/images50/cover-img-3.jpg);">
						<div class="overlay"></div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
									<div class="slider-text-inner text-center">
										<h1>By AdventureTour.com</h1>
										<h1>Contact us</h1>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</aside>
		<br>
		<br>
		<section>
			<br>
			<h1>History</h1>
			<div class="row">
				<div class="col-md-12">
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
						live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics,
						a large language ocean.</p>

					<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It
						is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>

					<p>Even the all-powerful Pointing has no control about the blind texts it is an almost
						unorthographic life One day however a small line of blind text by the name of Lorem Ipsum
						decided to leave for the far World of Grammar.</p>

					<div class="row row-pb-sm">
						<div class="col-md-6">
							<img class="img-responsive" src="/images50/hotel-7.jpg" alt="">
						</div>
						<div class="col-md-6">
							<p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild
								Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed
								her seven versalia, put her initial into the belt and made herself on the way.</p>
							<p>When she reached the first hills of the Italic Mountains, she had a last view back on the
								skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline
								of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she
								continued her way.</p>
						</div>
					</div>


					<p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline
						of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own
						road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.
					</p>

					<p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it
						would have been rewritten a thousand times and everything that was left from its origin would be
						the word "and" and the Little Blind Text should turn around and return to its own, safe country.
					</p>

					<p>But nothing the copy said could convince her and so it didn’t take long until a few insidious
						Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their
						agency, where they abused her for their.</p>
				</div>
			</div>
	</div>
	</section>
	<h2 class="title">Let's explore </h2>
	<p class="text">
		Twenty years from now you will be more disappointed by the things you didn’t do than by the ones you did do.
		So throw off the bowlines, sail away from the safe harbor. Catch the trade winds in your sails.
		Stop worrying about the potholes in the road and enjoy the journey.
	</p>

	<div id="colorlib-contact">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 animate-box">
					<h3>Get In Touch</h3>
					<form autocomplete="off" action="/contact" method="POST">
						<div class="row form-group">
							<div class="col-md-6 padding-bottom">
								<label for="fname">First Name</label>
								<input type="text" id="fname" class="form-control" placeholder="Your firstname" name="firstName"
									required>
							</div>
							<div class="col-md-6">
								<label for="lname">Last Name</label>
								<input type="text" id="lname" class="form-control" placeholder="Your lastname" name="lastName">
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<label for="email">Email</label>
								<input type="text" id="email" class="form-control" placeholder="Your email address" name="email"
									required>
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<label for="subject">Subject</label>
								<input type="text" id="subject" class="form-control"
									placeholder="Your subject of this message" name="subject" required>
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<label for="message">Message</label>
								<textarea name="message" id="message" cols="30" rows="10" class="form-control"
									placeholder="Say something about us" required></textarea>
							</div>
						</div>
						<div>
							I acknowledge that Adventure Tour is the controller of my personal data and consent to my
							personal data provided via chat being processed in accordance with the General Data
							Protection Regulation.<a href="/privacyPolicy"> Read our privacy policy here.</a>
						</div>
						<br>
						<div class="form-group text-center">
							<input type="submit" value="Send Message" class="btn btn-primary">
						</div>

					</form>
				</div>
				<div class="col-md-10 col-md-offset-1 animate-box">
					<h3>Contact Information</h3>
					<div class="row contact-info-wrap">
						<div class="col-md-3">
							<p><span><i class="icon-location"></i></span> 54/6 , Nikujka-1, <br> Khilkhet,Dhaka-1229</p>
						</div>
						<div class="col-md-3">
							<p><span><i class="icon-phone3"></i></span> <a href="01531726659">01531726659</a></p>
							<p><span><i class="icon-phone3"></i></span> <a href="01531726659">01955313147</a></p>
							<p><span><i class="icon-phone3"></i></span> <a href="01531726659">01756633463</a></p>
						</div>
						<div class="col-md-3">
							<p><span><i class="icon-paperplane"></i></span> <a
									href="u1704050@student.cuet.ac.bd">u1704050@student.cuet.ac.bd</a></p>
							<p><span><i class="icon-paperplane"></i></span> <a
									href="u1704046@student.cuet.ac.bd">u1704046@student.cuet.ac.bd</a></p>
							<p><span><i class="icon-paperplane"></i></span> <a
									href="u1704037@student.cuet.ac.bd">u1704037@student.cuet.ac.bd</a></p>
						</div>
						<div class="col-md-3">
							<p><span><i class="icon-globe"></i></span> <a href="#">adventuretour.com</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<section id="contact" class="contact">

		<h1 class="heading"><span>C</span>ontact <span>u</span>s</h1>

		<iframe
			src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14599.530152600808!2d90.41070656977537!3d23.822775600000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c72a3270740d%3A0x7d46576c2096bad!2sNikunja%20Lake%20Park%2C%20Khilkhet%2C%20Dhaka!5e0!3m2!1sen!2sbd!4v1621706212859!5m2!1sen!2sbd"
			width=100% height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

		<div class="row">



			<div class="contact-form-container">

				<form action="">


				</form>

			</div>

		</div>

	</section>
	<br>
	<br>

	{{>footer}}
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
	</div>

	<!-- jQuery -->
	<script src="/js50/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/js50/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/js50/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/js50/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="/js50/jquery.flexslider-min.js"></script>
	<!-- Owl carousel -->
	<script src="/js50/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="/js50/jquery.magnific-popup.min.js"></script>
	<script src="/js50/magnific-popup-options.js"></script>
	<!-- Date Picker -->
	<script src="/js50/bootstrap-datepicker.js"></script>
	<!-- Stellar Parallax -->
	<script src="/js50/jquery.stellar.min.js"></script>
	<!-- Google Map -->
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
	<script src="/js50/google_map.js"></script>

	<!-- Main -->
	<script src="/js50/main.js"></script>

</body>

</html>