<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<title> Adventure Tour Guideline Website </title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
	<link rel="stylesheet" href="try.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="footer.html/footer.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/proper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	<meta property="og:site_name" content="" />
	<meta property="og:description" content="" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="/css50/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/css50/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/css50/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="/css50/flexslider.css">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="/css50/owl.carousel.min.css">
	<link rel="stylesheet" href="/css50/owl.theme.default.min.css">

	<!-- Date Picker -->
	<link rel="stylesheet" href="/css50/bootstrap-datepicker.css">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="/css50/style.css">

	<!-- Modernizr JS -->
	<script src="/js50/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

</head>

<body>

	<div class="colorlib-loader"></div>

	<div id="page">
		{{>header}}
		<aside id="colorlib-hero">
			<div class="flexslider">
				<ul class="slides">
					<li style="background-image: url(/images50/Appalachian\ Trail.jpg);">
						<div class="overlay"></div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
									<div class="slider-text-inner text-center">
										<h1>Explore Dream Discover</h1>
										<h2>One’s destination is never a place, but a new way of seeing things.</h2>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li style="background-image: url(/images50/img_bg_2.jpg);">
						<div class="overlay"></div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
									<div class="slider-text-inner text-center">
										<h1>Explore Dream Discover</h1>
										<h2>A ship in harbor is safe, but that is not what ships are built for.</h2>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li style="background-image: url(/images50/caves.jpg);">
						<div class="overlay"></div>
						<div class="container-fluids">
							<div class="row">
								<div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
									<div class="slider-text-inner text-center">
										<h1>Explore Dream Discover</h1>
										<h2>Enjoy Best Trip Ever Because Your Satisfaction Our Happiness.</h2>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li style="background-image: url(/images50/ashima_olympics.jpg);">
						<div class="overlay"></div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
									<div class="slider-text-inner text-center">
										<h1>Explore Dream Discover</h1>
										<h2>The world is a book and those who will not travel read only a page.</h2>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</aside>
		<div id="colorlib-reservation">


			<div id="colorlib-services">
				<div class="container">
					<div class="row no-gutters">
						<div class="col-md-3 animate-box text-center aside-stretch">
							<div class="services">
								<span class="icon">
									<i class="flaticon-around"></i>
								</span>
								<h3>Amazing Travel</h3>
								<p>Separated they live in. Bookmarks grove right at the coast of the Semantics, a large
									language ocean. A small river named Duden flows by their place and supplies.</p>
							</div>
						</div>
						<div class="col-md-3 animate-box text-center">
							<div class="services">
								<span class="icon">
									<i class="flaticon-boat"></i>
								</span>
								<h3>Our Cruises</h3>
								<p>No matter the Travel Style, our tours balance well-planned itineraries with the
									flexibility to do your own thing and make the experience your own.</p>
							</div>
						</div>
						<div class="col-md-3 animate-box text-center">
							<div class="services">
								<span class="icon">
									<i class="flaticon-car"></i>
								</span>
								<h3>Book Your Trip</h3>
								<p>We have measures in place to help keep you safe from the moment you book to the
									moment you (reluctantly) head home.At Adventure Tour, we don’t have tour guides — we
									have Chief Experience Officers. And they are all locally based, meaning they know
									the area you’re exploring like the back of their well-travelled hand.</p>
							</div>
						</div>
						<div class="col-md-3 animate-box text-center">
							<div class="services">
								<span class="icon">
									<i class="flaticon-postcard"></i>
								</span>
								<h3>Nice Support</h3>
								<p>When you travel with us, you experience first-hand our commitment to making travel a
									force for good is in everything we do.</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="colorlib-tour colorlib-light-grey">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 text-center colorlib-heading animate-box">
							<h2>Popular Destination</h2>
							<p>We love to tell our successful far far away, behind the word mountains, far from the
								countries Vokalia and Consonantia, there live the blind texts.</p>
						</div>
					</div>
				</div>
				<div class="tour-wrap">
					<a href="#" class="tour-entry animate-box">
						<div class="tour-img" style="background-image: url(/images50/kuakata.jpg);">
						</div>
						<span class="desc">
							<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i
										class="icon-star-full"></i><i class="icon-star-full"></i><i
										class="icon-star-full"></i></span> 545 Reviews</p>
							<h2>Explore kuakata</h2>
							<span class="city">kuakata</span>
							<span class="price">$450</span>
						</span>
					</a>
					<a href="#" class="tour-entry animate-box">
						<div class="tour-img" style="background-image: url(/images50/faroe_islands.jpg);">
						</div>
						<span class="desc">
							<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i
										class="icon-star-full"></i><i class="icon-star-full"></i><i
										class="icon-star-full"></i></span> 967 Reviews</p>
							<h2>Explore Island</h2>
							<span class="city">Faroe Island/span>
								<span class="price">$553</span>
							</span>
					</a>
					<a href="#" class="tour-entry animate-box">
						<div class="tour-img" style="background-image: url(/images50/tour-3.jpg);">
						</div>
						<span class="desc">
							<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i
										class="icon-star-full"></i><i class="icon-star-full"></i><i
										class="icon-star-full"></i></span> 789 Reviews</p>
							<h2>Family Tour in Philippines</h2>
							<span class="city">Lipa, Philippines</span>
							<span class="price">$1105</span>
						</span>
					</a>
					<a href="#" class="tour-entry animate-box">
						<div class="tour-img" style="background-image: url(/images50/tour-4.jpg);">
						</div>
						<span class="desc">
							<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i
										class="icon-star-full"></i><i class="icon-star-full"></i><i
										class="icon-star-full"></i></span> 531 Reviews</p>
							<h2>Family Tour in Greece</h2>
							<span class="city">Athens, Greece</span>
							<span class="price">$1235</span>
						</span>
					</a>
					<a href="#" class="tour-entry animate-box">
						<div class="tour-img" style="background-image: url(/images50/The\ Great\ Wall\ of\ China.jpg);">
						</div>
						<span class="desc">
							<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i
										class="icon-star-full"></i><i class="icon-star-full"></i><i
										class="icon-star-full"></i></span> 661 Reviews</p>
							<h2>Tracking in China</h2>
							<span class="city">The Great Wall Of China</span>
							<span class="price">$511</span>
						</span>
					</a>
					<a href="#" class="tour-entry animate-box">
						<div class="tour-img" style="background-image: url(/images50/Routeburn\ Track.jpg);">
						</div>
						<span class="desc">
							<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i
										class="icon-star-full"></i><i class="icon-star-full"></i><i
										class="icon-star-full"></i></span> 535 Reviews</p>
							<h2>Trcak Routeburn</h2>
							<span class="city">Routeburn</span>
							<span class="price">$777</span>
						</span>
					</a>
					<a href="#" class="tour-entry animate-box">
						<div class="tour-img" style="background-image: url(/images50/pennine\ way.jpg);">
						</div>
						<span class="desc">
							<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i
										class="icon-star-full"></i><i class="icon-star-full"></i><i
										class="icon-star-full"></i></span> 617 Reviews</p>
							<h2>Explore the way </h2>
							<span class="city">Pennine Way</span>
							<span class="price">$851</span>
						</span>
					</a>
					<a href="#" class="tour-entry animate-box">
						<div class="tour-img" style="background-image: url(/images50/Mukhra_Thuthai_Haphong.jpg);">
						</div>
						<span class="desc">
							<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i
										class="icon-star-full"></i><i class="icon-star-full"></i><i
										class="icon-star-full"></i></span> 837 Reviews</p>
							<h2>Find The Nature</h2>
							<span class="city">Mukhra Thuthai Haphong</span>
							<span class="price">$790</span>
						</span>
					</a>
				</div>
			</div>



			<div id="colorlib-hotel">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 text-center colorlib-heading animate-box">
							<h2>Recommended Hotels</h2>
							<p>We love to tell our successful far far away, behind the word mountains, far from the
								countries Vokalia and Consonantia, there live the blind texts.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 animate-box">
							<div class="owl-carousel">
								<div class="item">
									<div class="hotel-entry">
										<a href="/hotels" class="hotel-img"
											style="background-image: url(/images50/hotel-1.jpg);">
											<p class="price"><span>$120</span><small> /night</small></p>
										</a>
										<div class="desc">
											<p class="star"><span><i class="icon-star-full"></i><i
														class="icon-star-full"></i><i class="icon-star-full"></i><i
														class="icon-star-full"></i><i class="icon-star-full"></i></span>
												545 Reviews</p>
											<h3><a href="#">Hotel Edison</a></h3>
											<span class="place">New York, USA</span>
											<p>A small river named Duden flows by their place and supplies it with the
												necessary regelialia.</p>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="hotel-entry">
										<a href="/hotels" class="hotel-img"
											style="background-image: url(/images50/hotel-2.jpg);">
											<p class="price"><span>$291</span><small> /night</small></p>
										</a>
										<div class="desc">
											<p class="star"><span><i class="icon-star-full"></i><i
														class="icon-star-full"></i><i class="icon-star-full"></i><i
														class="icon-star-full"></i><i class="icon-star-full"></i></span>
												545 Reviews</p>
											<h3><a href="#">Hotel Ritz </a></h3>
											<span class="place">Paris</span>
											<p>Besides its A-list clientele and silver screen cameos -- it's starred in
												classics like "Funny Face," "Love in the Afternoon" and "How to Steal a
												Million" -- the hotel is renowned for its lavish belle epoque decor,
												crystal chandeliers and impeccable white-glove service.</p>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="hotel-entry">
										<a href="/hotels" class="hotel-img"
											style="background-image: url(/images50/hotel-3.jpg);">
											<p class="price"><span>$250</span><small> /night</small></p>
										</a>
										<div class="desc">
											<p class="star"><span><i class="icon-star-full"></i><i
														class="icon-star-full"></i><i class="icon-star-full"></i><i
														class="icon-star-full"></i><i class="icon-star-full"></i></span>
												545 Reviews</p>
											<h3><a href="#">Hotel Claridge's</a></h3>
											<span class="place">London</span>
											<p>The art deco beauty is also the most storied hotel in England: During
												World War II, it was the haven for countless dignitaries and heads of
												state.</p>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="hotel-entry">
										<a href="/hotels" class="hotel-img"
											style="background-image: url(/images50/hotel-4.jpg);">
											<p class="price"><span>$120</span><small> /night</small></p>
										</a>
										<div class="desc">
											<p class="star"><span><i class="icon-star-full"></i><i
														class="icon-star-full"></i><i class="icon-star-full"></i><i
														class="icon-star-full"></i><i class="icon-star-full"></i></span>
												545 Reviews</p>
											<h3><a href="#">Radisson Blu Chattogram Bay View</a></h3>
											<span class="place">SS Khaled Road Lalkhan Bazar, Chittagong</span>
											<p>Featuring a fitness center, Radisson Blu Chittagong Bay View offers
												accommodations in Chittagong. Guests can enjoy the on-site multi-cuisine
												restaurant. Free WiFi is available throughout the property.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="colorlib-tour">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 text-center colorlib-heading animate-box">
							<h2>Most Popular Travel Countries</h2>
							<p>We love to tell our successful far far away, behind the word mountains, far from the
								countries Vokalia and Consonantia, there live the blind texts.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="f-tour">
								<div class="row row-pb-md">
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-6 animate-box">
												<a href="/tours" class="f-tour-img"
													style="background-image: url(/images50/tour-1.jpg);">
													<div class="desc">
														<h3>Rome - 5 Days</h3>
														<p class="price"><span>$120</span> <small>/ person</small></p>
													</div>
												</a>
											</div>
											<div class="col-md-6 animate-box">
												<a href="/tours" class="f-tour-img"
													style="background-image: url(/images50/pk4.jpg);">
													<div class="desc">
														<h3>Quito to Rio Adventure - 15 Days</h3>
														<p class="price"><span>$1586</span> <small>/ person</small></p>
													</div>
												</a>
											</div>
											<div class="col-md-6 animate-box">
												<a href="/tours" class="f-tour-img"
													style="background-image: url(/images50/pk5.jpg);">
													<div class="desc">
														<h3>Brisbane to Cairns Experience - 10 Days</h3>
														<p class="price"><span>$997</span> <small>/ person</small></p>
													</div>
												</a>
											</div>
											<div class="col-md-6 animate-box">
												<a href="/tours" class="f-tour-img"
													style="background-image: url(/images50/tour-4.jpg);">
													<div class="desc">
														<h3>Ancient Kingdoms & Karaoke - 8 Days</h3>
														<p class="price"><span>$636</span> <small>/ person</small></p>
													</div>
												</a>
											</div>
										</div>
									</div>
									<div class="col-md-6 animate-box">
										<div class="desc">
											<div class="row">
												<div class="col-md-12">
													<h3>Italy, Europe</h3>
													<p>Far far away, behind the word mountains, far from the countries
														Vokalia and Consonantia, there live the blind texts. Separated
														they live in Bookmarksgrove right at the coast of the Semantics,
														a large language ocean. A small river named Duden flows by their
														place and supplies it with the necessary regelialia.</p><br>
												</div>
												<div class="col-md-12">
													<h4>Best Tours City</h4>
													<div class="row">
														<div class="col-md-4 col-sm-4 col-xs-4">
															<ul>
																<li><a href="#">Rome</a></li>
																<li><a href="#">Milan</a></li>
																<li><a href="#">Bangladesh</a></li>
																<li><a href="#">Verona</a></li>
															</ul>
														</div>
														<div class="col-md-4 col-sm-4 col-xs-4">
															<ul>
																<li><a href="#">Venice</a></li>
																<li><a href="#">Bologna</a></li>
																<li><a href="#">Trieste</a></li>
																<li><a href="#">Florence</a></li>
															</ul>
														</div>
														<div class="col-md-4 col-sm-4 col-xs-4">
															<ul>
																<li><a href="#">Palermo</a></li>
																<li><a href="#">Siena</a></li>
																<li><a href="#">San Marino</a></li>
																<li><a href="#">Naples</a></li>
															</ul>
														</div>
													</div>
													<p><a href="/tours" class="btn btn-primary">View All Places</a></p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="f-tour">
								<div class="row">
									<div class="col-md-6 col-md-push-6">
										<div class="row">
											<div class="col-md-6 animate-box">
												<a href="/tours" class="f-tour-img"
													style="background-image: url(/images50/tour-5.jpg);">
													<div class="desc">
														<h3> Athens, Greece- 4 Days</h3>

														<p class="price"><span>$450</span> <small>/ person</small></p>
													</div>
												</a>
											</div>
											<div class="col-md-6 animate-box">
												<a href="/tours" class="f-tour-img"
													style="background-image: url(/images50/tour-6.jpg);">
													<div class="desc">
														<h3>Coastlines & Kebabs - 13 Days</h3>
														<p class="price"><span>$908</span> <small>/ person</small></p>
													</div>
												</a>
											</div>
											<div class="col-md-6 animate-box">
												<a href="/tours" class="f-tour-img"
													style="background-image: url(/images50/tour-7.jpg);">
													<div class="desc">
														<h3>Tapas, Medinas & Sunsets - 16 Days</h3>
														<p class="price"><span>$1699</span> <small>/ person</small></p>
													</div>
												</a>
											</div>
											<div class="col-md-6 animate-box">
												<a href="/tours" class="f-tour-img"
													style="background-image: url(/images50/tour-8.jpg);">
													<div class="desc">
														<h3>Snorkelling & Sea Lions - 9 Days</h3>
														<p class="price"><span>$1359</span> <small>/ person</small></p>
													</div>
												</a>
											</div>
										</div>
									</div>
									<div class="col-md-6 animate-box col-md-pull-6 text-right">
										<div class="desc">
											<div class="row">
												<div class="col-md-12">
													<h3>Athens, Greece</h3>
													<p>Far far away, behind the word mountains, far from the countries
														Vokalia and Consonantia, there live the blind texts. Separated
														they live in Bookmarksgrove right at the coast of the Semantics,
														a large language ocean. A small river named Duden flows by their
														place and supplies it with the necessary regelialia.</p><br>
												</div>
												<div class="col-md-12">
													<h4>Best Tours City</h4>
													<div class="row">
														<div class="col-md-4 col-sm-4 col-xs-4">
															<ul>
																<li><a href="#">Rome</a></li>
																<li><a href="#">Milan</a></li>
																<li><a href="#">Bangladesh</a></li>
																<li><a href="#">Verona</a></li>
															</ul>
														</div>
														<div class="col-md-4 col-sm-4 col-xs-4">
															<ul>
																<li><a href="#">Venice</a></li>
																<li><a href="#">Bologna</a></li>
																<li><a href="#">Trieste</a></li>
																<li><a href="#">Florence</a></li>
															</ul>
														</div>
														<div class="col-md-4 col-sm-4 col-xs-4">
															<ul>
																<li><a href="#">Palermo</a></li>
																<li><a href="#">Siena</a></li>
																<li><a href="#">San Marino</a></li>
																<li><a href="#">Naples</a></li>
															</ul>
														</div>
													</div>
													<p><a href="/tours" class="btn btn-primary">View All Places</a></p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<section id="contact" class="contact">

				<h1 class="heading"><span>C</span>ontact <span>u</span>s</h1>

				<iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14599.530152600808!2d90.41070656977537!3d23.822775600000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c72a3270740d%3A0x7d46576c2096bad!2sNikunja%20Lake%20Park%2C%20Khilkhet%2C%20Dhaka!5e0!3m2!1sen!2sbd!4v1621706212859!5m2!1sen!2sbd"
					width=100% height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

				<div class="row">



					<div class="contact-form-container">

						<form action="">


						</form>

					</div>

				</div>

			</section>
			<br>
			<br>
			{{>footer}}
		</div>

		<div class="gototop js-top">
			<a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
		</div>

		<!-- jQuery -->
		<script src="/js50/jquery.min.js"></script>
		<!-- jQuery Easing -->
		<script src="/js50/jquery.easing.1.3.js"></script>
		<!-- Bootstrap -->
		<script src="/js50/bootstrap.min.js"></script>
		<!-- Waypoints -->
		<script src="/js50/jquery.waypoints.min.js"></script>
		<!-- Flexslider -->
		<script src="/js50/jquery.flexslider-min.js"></script>
		<!-- Owl carousel -->
		<script src="/js50/owl.carousel.min.js"></script>
		<!-- Magnific Popup -->
		<script src="/js50/jquery.magnific-popup.min.js"></script>
		<script src="/js50/magnific-popup-options.js"></script>
		<!-- Date Picker -->
		<script src="/js50/bootstrap-datepicker.js"></script>
		<!-- Stellar Parallax -->
		<script src="/js50/jquery.stellar.min.js"></script>
		<!-- Main -->
		<script src="/js50/main.js"></script>

</body>

</html>