<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title> Adventure Tour Guideline Website </title>
	<link rel="stylesheet"
	href = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
 <link rel="stylesheet" href="try.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	 <link rel="stylesheet" href="footer.html/footer.css">
	 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
 <script src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/proper.min.js"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="/css50/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/css50/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/css50/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="/css50/flexslider.css">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="/css50/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	
	<!-- Date Picker -->
	<link rel="stylesheet" href="/css50/bootstrap-datepicker.css">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="/css50/style.css">

	<!-- Modernizr JS -->
	<script src="/js50/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="colorlib-loader"></div>

	<div id="page">
		{{>header}}
		<aside id="colorlib-hero">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: url(/images50/cover-img-4.jpg);">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
				   				<div class="slider-text-inner text-center">
				   					<h1>By Adventure Tour.com</h1>
				   					<h1>Find Hotel</h1>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			  	</ul>
		  	</div>
		</aside>

		<div class="colorlib-wrap">
			<div class="container">
				<div class="row">
					<div class="col-md-9">
						<div class="row">
							<div class="wrap-division">
								<div class="col-md-6 col-sm-6 animate-box">
									<div class="hotel-entry">
										<a href="/hotel-room" class="hotel-img" style="background-image: url(/images50/hotel-1.jpg);">
											<p class="price"><span>$120</span><small> /night</small></p>
										</a>
										<div class="desc">
											<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
											<h3><a href="/hotel-room">Hotel Edison</a></h3>
											<span class="place">New York, USA</span>
											<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
											<button type="button" class="btn btn-dark"><i class="fa fa-calendar" aria-hidden="true"></i><a href = "/payment">Book Now </a></button>
                        
											<button type="button" class="btn btn-dark"><i class="fa fa-info-circle" aria-hidden="true"></i> <a href = "/hotel-room">Query</a></button> 
										</div>
									</div>
								</div>

								<div class="col-md-6 col-sm-6 animate-box">
									<div class="hotel-entry">
										<a href="/hotel-room" class="hotel-img" style="background-image: url(/images50/hotel-2.jpg);">
											<p class="price"><span>$291</span><small> /night</small></p>
										</a>
										<div class="desc">
											<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 811 Reviews</p>
											<h3><a href="/hotel-room">Hotel Ritz</a></h3>
											<span class="place">Paris</span>
											<p>Besides its A-list clientele and silver screen cameos -- it's starred in classics like "Funny Face," "Love in the Afternoon" and "How to Steal a Million" -- the hotel is renowned for its lavish belle epoque decor, crystal chandeliers and impeccable white-glove service.</p>
											<button type="button" class="btn btn-dark"><i class="fa fa-calendar" aria-hidden="true"></i><a href = "/payment">Book Now </a></button>
                        
											<button type="button" class="btn btn-dark"><i class="fa fa-info-circle" aria-hidden="true"></i> <a href = "/hotel-room">Query</a></button> 
										</div>
									</div>
								</div>

								<div class="col-md-6 col-sm-6 animate-box">
									<div class="hotel-entry">
										<a href="/hotel-room" class="hotel-img" style="background-image: url(/images50/hotel-3.jpg);">
											<p class="price"><span>$250</span><small> /night</small></p>
										</a>
										<div class="desc">
											<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 667 Reviews</p>
											<h3><a href="/hotel-room">Hotel Claridge's</a></h3>
											<span class="place">London</span>
											
											<p>The art deco beauty is also the most storied hotel in England: During World War II, it was the haven for countless dignitaries and heads of state.</p>
											<button type="button" class="btn btn-dark"><i class="fa fa-calendar" aria-hidden="true"></i><a href = "/payment">Book Now </a></button>
                        
											<button type="button" class="btn btn-dark"><i class="fa fa-info-circle" aria-hidden="true"></i> <a href = "/hotel-room">Query</a></button> 
										</div>
									</div>
								</div>

								<div class="col-md-6 col-sm-6 animate-box">
									<div class="hotel-entry">
										<a href="/hotel-room" class="hotel-img" style="background-image: url(/images50/hotel-4.jpg);">
											<p class="price"><span>$177</span><small> /night</small></p>
										</a>
										<div class="desc">
											<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 941 Reviews</p>
											<h3><a href="/hotel-room">Radisson Blu Chattogram Bay View</a></h3>
											<span class="place">SS Khaled Road Lalkhan Bazar, Chittagong</span>
											<p>Featuring a fitness center, Radisson Blu Chittagong Bay View offers accommodations in Chittagong. Guests can enjoy the on-site multi-cuisine restaurant. Free WiFi is available throughout the property.</p>
											<button type="button" class="btn btn-dark"><i class="fa fa-calendar" aria-hidden="true"></i><a href = "/payment">Book Now </a></button>
                        
											<button type="button" class="btn btn-dark"><i class="fa fa-info-circle" aria-hidden="true"></i> <a href = "/hotel-room">Query</a></button> 
										</div>
									</div>
								</div>

								<div class="col-md-6 col-sm-6 animate-box">
									<div class="hotel-entry">
										<a href="/hotel-room" class="hotel-img" style="background-image: url(/images50/hotel-5.jpg);">
											<p class="price"><span>$211</span><small> /night</small></p>
										</a>
										<div class="desc">
											<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 1011 Reviews</p>
											<h3><a href="/hotel-room">Hotel L'Esplanade</a></h3>
											<span class="place">Saint Martin's Island, Bangladesh</span>
											<p>Saint Martin is a small island located in cox’s Bazar. It is a very beautiful island with a lot of natural creatures and an amazing environment. Though it is open all year but fall, winter and spring are the best seasons to go there. You can spend a night on the island and have an amazing experience.</p>
											<button type="button" class="btn btn-dark"><i class="fa fa-calendar" aria-hidden="true"></i><a href = "/payment">Book Now </a></button>
                        
											<button type="button" class="btn btn-dark"><i class="fa fa-info-circle" aria-hidden="true"></i> <a href = "/hotel-room">Query</a></button> 
										</div>
									</div>
								</div>

								<div class="col-md-6 col-sm-6 animate-box">
									<div class="hotel-entry">
										<a href="/hotel-room" class="hotel-img" style="background-image: url(/images50/hotel-6.jpg);">
											<p class="price"><span>$190</span><small> /night</small></p>
										</a>
										<div class="desc">
											<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 811 Reviews</p>
											<h3><a href="/hotel-room">Kuakata Grand Hotel</a></h3>
											<span class="place">Kuakata,Bangladesh</span>
											<p>Kuakata is a panoramic sea beach on the southernmost tip of Bangladesh. Located in the Patuakhali district, Kuakata has a wide sandy beach from where one can watch both the sunrise and sunset.To the travelers for both business and holidays, Kuakata Grand offers them a perfect blend of choices.</p>
											<button type="button" class="btn btn-dark"><i class="fa fa-calendar" aria-hidden="true"></i><a href = "/payment">Book Now </a></button>
                        
											<button type="button" class="btn btn-dark"><i class="fa fa-info-circle" aria-hidden="true"></i> <a href = "/hotel-room">Query</a></button> 
										</div>
									</div>
								</div>

								<div class="col-md-6 col-sm-6 animate-box">
									<div class="hotel-entry">
										<a href="/hotel-room" class="hotel-img" style="background-image: url(/images50/hotel-7.jpg);">
											<p class="price"><span>$250</span><small> /night</small></p>
										</a>
										<div class="desc">
											<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 715 Reviews</p>
											<h3><a href="/hotel-room">AMANZOE</a></h3>
											<span class="place">PORTO HELI, GREECE</span>
											<p>Scattered with Unesco-protected ruins, the beach-fringed Peloponnese has been at the heart of Greek culture for millennia. Amanzoe rests on its east coast, a modern-day Acropolis from which 360-degree views encompass olive groves and Aegean blue.</p>
											<button type="button" class="btn btn-dark"><i class="fa fa-calendar" aria-hidden="true"></i><a href = "/payment">Book Now </a></button>
                        
											<button type="button" class="btn btn-dark"><i class="fa fa-info-circle" aria-hidden="true"></i> <a href = "/hotel-room">Query</a></button> 
										</div>
									</div>
								</div>

								<div class="col-md-6 col-sm-6 animate-box">
									<div class="hotel-entry">
										<a href="/hotel-room" class="hotel-img" style="background-image: url(/images50/hotel-8.jpg);">
											<p class="price"><span>$155</span><small> /night</small></p>
										</a>
										<div class="desc">
											<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 931 Reviews</p>
											<h3><a href="/hotel-room">Conrad</a></h3>
											
											<span class="place">Maldives, Rangali Island</span>
											<p>Nestled in a private area of the shimmering lagoon, THE MURAKA is a first-of-its-kind luxury residence featuring three bedrooms and integrated living, dining, and entertaining spaces. The experience is complete with 24-hour private butler service, a private chef, and tailored experiences.</p>
											<button type="button" class="btn btn-dark"><i class="fa fa-calendar" aria-hidden="true"></i><a href = "/payment">Book Now </a></button>
                        
											<button type="button" class="btn btn-dark"><i class="fa fa-info-circle" aria-hidden="true"></i> <a href = "/hotel-room">Query</a></button> 
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>


									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<section class = "bg-light p-3">
			<div class = "container">
			  <div class = "row">
			  <div class = "col-md-4">
			   <div class = "card text-center">
		  <p class="btn btn-dark"><i class="fa fa-life-ring" ></i> Small groups</p>
		  <br>
		  <p>Join a small group of like-minded travellers that, like you, are eager to safely and confidently experience all the things that make our world worth exploring. </p>
			 <br> 
		  </div>
			  </div>
			  <div class = "col-md-4">
				<div class = "card text-center">
				<p class="btn btn-dark"><i class="fa fa-book" ></i>Book & Travel with Confidence</p>
		   <br>
		   <p>We have measures in place to help keep you safe from the moment you book to the moment you (reluctantly) head home.</p>
			<br>   
		  </div>
			   </div>
			   <div class = "col-md-4">
				<div class = "card text-center">
				<p class="btn btn-dark"><i class="fa fa-users"></i>Locally based guides</p>
		   <br>
		   <p>At Adventure Tour, we don’t have tour guides — we have Chief Experience Officers. And they are all locally based, meaning they know the area you’re exploring like the back of their well-travelled hand. </p>
			<br>  
		  </div>
			   </div>
			  </div>
			  <br>
			  <div class = "row">
				<div class = "col-md-4">
				 <div class = "card text-center">
			<p class="btn btn-dark"><i class="fa fa-university" ></i> Built to support local communities</p>
			<br>
			<p>We have always created our tours by building meaningful relationships with local communities, directly benefiting the people and places we visit.</p>
			   <br> 
			</div>
				</div>
				<div class = "col-md-4">
				  <div class = "card text-center">
				  <p class="btn btn-dark"><i class="fa fa-snowflake-o" ></i>Flexibility, freedom, fun</p>
			 <br>
			 <p>No matter the Travel Style, our tours balance well-planned itineraries with the flexibility to do your own thing and make the experience your own.</p>
			  <br>   
			</div>
				 </div>
				 <div class = "col-md-4">
				  <div class = "card text-center">
				  <p class="btn btn-dark"><i class="fa fa-map-marker"></i>T for Travel</p>
			 <br>
			 <p>When you travel with us, you experience first-hand our commitment to making travel a force for good is in everything we do. </p>
			  <br>  
			</div>
				 </div>
				</div>
			</div>
		  </section>
		  <br>
		
		{{>footer}}
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
	</div>

	<!-- jQuery -->
	<script src="/js50/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/js50/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/js50/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/js50/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="/js50/jquery.flexslider-min.js"></script>
	<!-- Owl carousel -->
	<script src="/js50/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="/js50/jquery.magnific-popup.min.js"></script>
	<script src="/js50/magnific-popup-options.js"></script>
	<!-- Date Picker -->
	<script src="/js50/bootstrap-datepicker.js"></script>
	<!-- Stellar Parallax -->
	<script src="/js50/jquery.stellar.min.js"></script>

	<!-- Main -->
	<script src="/js50/main.js"></script>

	</body>
</html>

