<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<title> Adventure Tour Guideline Website </title>
   <link rel="stylesheet"
   href = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
<link rel="stylesheet" href="/css50/try.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="footer.html/footer.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/proper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="/css50/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/css50/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/css50/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/css50/magnific-popup.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="/css50/flexslider.css">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="/css50/owl.carousel.min.css">
	<link rel="stylesheet" href="/css50/owl.theme.default.min.css">
	
	<!-- Date Picker -->
	<link rel="stylesheet" href="/css50/bootstrap-datepicker.css">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="/css50/style.css">

	<!-- Modernizr JS -->
	<script src="/js50/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="colorlib-loader"></div>

	<div id="page">
		{{>header}}
		<aside id="colorlib-hero">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: url(/images50/cover-img-4.jpg);">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
				   				<div class="slider-text-inner text-center">
				   					<h1>By AdventureTour.com</h1>
				   					<h1>Hotel Overview</h1>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			  	</ul>
		  	</div>
		</aside>

		<div class="colorlib-wrap">
			<div class="container">
				<div class="row">
					<div class="col-md-9">
						<div class="row">
							<div class="col-md-12">
								<div class="wrap-division">
									<div class="col-md-12 col-md-offset-0 heading2 animate-box">
										<h2>Hotel Edison</h2>
									</div>
									<div class="row">
										<div class="col-md-12 animate-box">
											<div class="room-wrap">
												<div class="row">
													<div class="col-md-6 col-sm-6">
														<div class="room-img" style="background-image: url(/images50/room-1.jpg);"></div>
													</div>
													<div class="col-md-6 col-sm-6">
														<div class="desc">
															<h2>Family Room</h2>
															<p class="price"><span>$45</span> <small>/ night</small></p>
															<p>You will have everything you need in our family rooms. It immediately feels warm and familiar when you enter. You will have lovely spacious beds, private bathroom (with shower or bath), TV, free WiFi and a modest seat. The basic rooms offer simplicity in style and the utmost attention has been paid for a pleasant stay. Here you can relax and start and end your day in peace and quiet. Naturally, you can enjoy some extra relaxation in our nice lounge area, with a drink at the bar or in a sunny spot on the terrace.</p>
															<p><a href="/payment" class="btn btn-primary">Book Now!</a></p>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="col-md-12 animate-box">
											<div class="room-wrap">
												<div class="row">
													<div class="col-md-6 col-sm-6">
														<div class="room-img" style="background-image: url(/images50/room-2.jpg);"></div>
													</div>
													<div class="col-md-6 col-sm-6">
														<div class="desc">
															<h2>Luxury Room</h2>
															<p class="price"><span>$75</span> <small>/ night</small></p>
															<p>A room that you like as soon as you walk in: with consistent design, high-quality furnishings, and no cheap touches such as rickety reading lamps.A king bed (the default luxury travel bed) with a reasonably firm mattress, smooth all-cotton sheets, no synthetic mattress cover, a natural-fiber bedspread, and a variety of pillow types in the room or a phone call away. The closet should have sufficient hangers, and not the kind attached to the rod. </p>
															<p><a href="/payment" class="btn btn-primary">Book Now!</a></p>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="col-md-12 animate-box">
											<div class="room-wrap">
												<div class="row">
													<div class="col-md-6 col-sm-6">
														<div class="room-img" style="background-image: url(/images50/room-3.jpg);"></div>
													</div>
													<div class="col-md-6 col-sm-6">
														<div class="desc">
															<h2>Double Room</h2>
															<p class="price"><span>$40</span> <small>/ night</small></p>
															<p>Most suitable for couples and the size enables you to relax and feel at. All rooms are also fitted with a desk, a closet and a washlet. Television, electric hot water pot, refrigerator, dryer, table lamp, humidifier,bath, toilet, broadband connection (free), air conditioning.</p>
															<p><a href="/payment" class="btn btn-primary">Book Now!</a></p>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="col-md-12 animate-box">
											<div class="room-wrap">
												<div class="row">
													<div class="col-md-6 col-sm-6">
														<div class="room-img" style="background-image: url(/images50/room-4.jpg);"></div>
													</div>
													<div class="col-md-6 col-sm-6">
														<div class="desc">
															<h2>Suite Room</h2>
															<p class="price"><span>$25</span> <small>/ night</small></p>
															<p>A suite in a hotel or other public accommodation, such as a cruise ship denotes, according to most dictionary definitions, connected rooms under one room number. Hotels may refer to suites as a class of accommodations with more space than a typical hotel room, but technically speaking there should be more than one room to constitute a true suite. </p>
															<p><a href="/payment" class="btn btn-primary">Book Now!</a></p>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="col-md-12 animate-box">
											<div class="room-wrap">
												<div class="row">
													<div class="col-md-6 col-sm-6">
														<div class="room-img" style="background-image: url(/images50/room-5.jpg);"></div>
													</div>
													<div class="col-md-6 col-sm-6">
														<div class="desc">
															<h2>Superior Double Room</h2>
															<p class="price"><span>$50</span> <small>/ night</small></p>
															<p>The Superior Room comprises of 1 Double bed or 2 Twin Beds, 2 Bedside Tables, a Desk & Chair. This room is larger than the Standard Room and is therefore spacious enough for an additional bed for triple occupancy. (Triple Room). The room is furnished with wall to wall carpeting, trendy furnishings and a balcony. Our ultramodern glass bathroom is equipped with hairdryer, magnifying shaving and make up mirror as well as all the amenities you could possible need during your stay. </p>
															<p><a href="/payment" class="btn btn-primary">Book Now!</a></p>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="col-md-12 animate-box">
											<div class="room-wrap">
												<div class="row">
													<div class="col-md-6 col-sm-6">
														<div class="room-img" style="background-image: url(/images50/room-6.jpg);"></div>
													</div>
													<div class="col-md-6 col-sm-6">
														<div class="desc">
															<h2>Classic Double Room</h2>
															<p class="price"><span>$48</span> <small>/ night</small></p>
															<p>Furnished in classic and essential style, these comfortable rooms have balconies facing the lake or the garden. They are available with double or twin beds and they are equipped with a marble bathroom with bathtub and shower attachment. Classic double rooms can be interconnected with another room of the same type.</p>
															<p><a href="/payment" class="btn btn-primary">Book Now!</a></p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

	
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	
		

		{{>footer}}
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
	</div>

	<!-- jQuery -->
	<script src="/js50/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/js50/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/js50/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/js50/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="/js50/jquery.flexslider-min.js"></script>
	<!-- Owl carousel -->
	<script src="/js50/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="/js50/jquery.magnific-popup.min.js"></script>
	<script src="/js50/magnific-popup-options.js"></script>
	<!-- Date Picker -->
	<script src="/js50/bootstrap-datepicker.js"></script>
	<!-- Stellar Parallax -->
	<script src="/js50/jquery.stellar.min.js"></script>

	<!-- Main -->
	<script src="/js50/main.js"></script>

	</body>
</html>

