<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      body { font-family: Arial; font-size: 17px; padding: 8px; } * {
      box-sizing: border-box; } .row { display: -ms-flexbox; display: flex;
      -ms-flex-wrap: wrap; flex-wrap: wrap; margin: 0 -16px; } .col-25 {
      -ms-flex: 25%; flex: 25%; } .col-50 { -ms-flex: 50%; flex: 50%; } .col-75
      { -ms-flex: 75%; flex: 75%; } .col-25, .col-50, .col-75 { padding: 0 16px;
      } .container { background-color: #f2f2f2; padding: 5px 20px 15px 20px;
      border: 1px solid lightgrey; border-radius: 3px; } input[type=text] {
      width: 100%; margin-bottom: 20px; padding: 12px; border: 1px solid #ccc;
      border-radius: 3px; } label { margin-bottom: 10px; display: block; }
      .icon-container { margin-bottom: 20px; padding: 7px 0; font-size: 24px; }
      .btn { background-color: #4CAF50; color: white; padding: 12px; margin:
      10px 0; border: none; width: 30%; text-align: center; border-radius: 3px;
      cursor: pointer; font-size: 17px; } .btn:hover { background-color:
      #45a049; } a { color: #2196F3; } hr { border: 1px solid lightgrey; }
      span.price { float: right; color: grey; } span.psw { float: right;
      padding-top: 16px; text-align: center; } input[type=text],
      input[type=password] { width: 70%; padding: 12px 20px; margin: 8px 0;
      display: inline-block; border: 1px solid rgb(187, 197, 226); box-sizing:
      border-box; } @media (max-width: 800px) { .row { flex-direction:
      column-reverse; } .col-25 { margin-bottom: 20px; } span.psw { display:
      block; float: none; } } .methods{ display: flex; 
      flex-direction: column;
      }
      .methods div{
        display: flex;
      }
    </style>
  </head>
  <body>
    <div class="row">
      <div class="col-75">
        <form class="container" action="/payment" method="POST">

          <div class="row">
            <div class="col-50">
              <h3>Billing Address</h3>
              <label for="fullName"><i class="fa fa-user"></i> Full Name</label>
              <input
                type="text"
                id="fullName"
                name="fullName"
                placeholder="Your name"
              />
              <label for="email"><i class="fa fa-envelope"></i> Email</label>
              <input
                type="text"
                id="email"
                name="email"
                placeholder="musfequa@example.com"
              />
              <label for="address"><i class="fa fa-address-card-o"></i>
                Address</label>
              <input
                type="text"
                id="address"
                name="address"
                placeholder="54/6,Uttara,Dhaka"
              />
              <label for="city"><i class="fa fa-institution"></i> City</label>
              <input type="text" id="city" name="city" placeholder="Dhaka" />

              <div class="row">
                <div class="col-50">
                  <label for="state">State</label>
                  <input type="text" id="state" name="state" placeholder="BD" />
                </div>
                <div class="col-50">
                  <label for="zip">Zip</label>
                  <input type="text" id="zip" name="zip" placeholder="1229" />
                </div>
              </div>
            </div>

            <div class="col-50">
              <h3>Payment</h3>
              <label for="fname">Accepted Methods</label>
              <div class="methods">
                <div>
                  <input value="bkash" type="radio" name="method" />
                  <label for="bkash">Bkash</label>

                </div>
                <div>
                  <input value="rocket" type="radio" name="method" />
                  <label for="rocker">Rocket</label>

                </div>
                <div>
                      <input value="nagad" type="radio" name="method" />
                <label for="nagad">Nagad</label>
            
                </div>
              </div>
              <label for="phoneNo">Phone No</label>
              <input
                type="text"
                id="phoneNo"
                name="phoneNo"
                placeholder="Your Phone Number"
              />
              <label for="tnxID">Transaction ID</label>
              <input
                type="text"
                id="tnxID"
                name="tnxID"
                placeholder="1111-2222-3333-4444"
              />
              <label for="password">Password</label>
              <input
                type="password"
                id="password"
                placeholder="Enter Password"
                name="password"
                required
              />
              <label for="type">Type</label>
              <div class="methods">

                <div>
                  <input value="package" type="radio" name="type" />
                  <label for="bkash">Package</label>

                </div>
                <div>
                  <input value="product" type="radio" name="type" />
                  <label for="rocker">Product</label>

                </div>
              </div>
              
              <div class="row">
                <div class="col-50">
                  <label for="amount">Amount</label>
                  <input
                    type="text"
                    id="amount"
                    name="amount"
                    placeholder="2020"
                  />
                </div>

              </div>
            </div>

          </div>
          <label>
            <input type="checkbox" checked="checked" name="agree" />
            Agreed
          </label>
          <button type="submit" class="btn">
            Continue to payment

          </button>
        </form>
      </div>

    </div>
       <script src="/js50/payment.js"></script>
  </body>
</html>