<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h3{
    color:rgba(8, 8, 8, 0.568);
}
a{
    text-align: center;
}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
h1{
  text-align: center;
  color:rgba(26, 4, 78, 0.932);
}
</style>
</head>
<body>
<div>
    <h1>ADVENTURE TOUR PRIVACY POLICY</h1>
    <p>Adventure Tours is committed to protecting your personal information. We want you to understand our Privacy Policy and what it means to you. If you have any questions about our Privacy Policy, you can contact our Privacy Officer at privacyofficer@adventuretours.com or through the contact information posted below.

The Privacy Policy describes the privacy practices of Adventure Tours' global group of companies and its related Planeterra Foundation. </p>
</div>
<div>
<h3>What is personal information and how do we use or disclose it?</h3>
<p> 
Personal information is information about an identifiable individual, and includes your name, contact information, travel itinerary and other information described below.
</p>
</div>
<br>
<div>
<h3>Booking Travel</h3>
<p>
    If you book a Adventure Tour trip,  Adventure Tour may rely on local service providers. Please be aware that  Adventure Tour may be required to provide certain personal information to our service providers for the purposes of delivering your experience. For example, if you book flights through  Adventure Tour, we will be required to provide certain personal information to the airline for the purposes of securing your ticket. When you book travel services with us, you consent to collection, use and disclosure of your personal information by  Adventure Tour and the corresponding collection and use by the relevant travel partners or suppliers—for the purposes of administering and delivering the travel services you requested.

    Your personal information may also be used for the purposes of:
    Enabling us to better understand your needs as a customer and determine eligibility for our products and services;
    Informing you about our products and services, or those of our partners that we believe may be of interest to you (provided that we have received valid consent from you, if such consent is required);
    Providing ongoing service and support, including resolution of any issues with the services or products you request from Adventure Tours;
    Ensuring the safety and security of our passengers and products;
    Carrying out internal accounting and administration of our business;
    Complying with laws, regulations, and immigration requirements.
</p>

</div>
<div>
    <h3>Legal and Compliance</h3>
    
    <p>
    Adventure Tour and our service providers may provide your personal information in response to a search warrant or other legally valid inquiry or order, to an investigative body in the case of a breach of an agreement or contravention of law, or as otherwise required or permitted by applicable law. We may also disclose personal information where necessary for the establishment, exercise or defence of legal claims and to investigate or prevent actual or suspect loss or harm to persons or property.
    </p>
  
    </div>
<div>
<h3 >How is your personal information protected?</h3>

 <p>
 We have implemented measures designed to help protect personal information in our custody and control. We maintain reasonable administrative, technical and physical safeguards in an effort to protect against unauthorized access, use, modification and disclosure of personal information in our custody and control. Unfortunately, no collection or transmission of information over the Internet or other publicly accessible communications networks can be guaranteed to be 100% secure, and therefore, we cannot ensure or warrant the security of any such information. We have personal information retention processes designed to retain personal information of our customers for no longer than necessary for the purposes stated above or to otherwise meet legal requirements.  
</p>

</div>
<br>
<div>
<h3>Changes to this Privacy Policy</h3>
<p>
    From time to time it may be necessary for Adventure Tour to amend or make revisions to this Privacy Policy. If we make a change to the Policy, the revised version will be posted on our website. Please refer to this Privacy Policy for the latest information about our personal information practices. 
</p>
</div>
<a href="/"><h2 text-align = 'center'>Back to home page</h2></a></li>
</body>
</html>
