<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h3{
    color:rgba(8, 8, 8, 0.568);
}
a{
    text-align: center;
}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
h1{
  text-align: center;
  color:rgba(26, 4, 78, 0.932);
}
</style>
</head>
<body>
<div>
    <h1>Terms and Conditions</h1>
</div>
<div>
<h3>BOOKING TERMS & CONDITIONS </h3>
<p> Your booking is confirmed and a contract exists when the Tour Operator or your travel agent issues a written confirmation after receipt of the applicable deposit amount. Please check your confirmation carefully and report any incorrect or incomplete information to the Tour Operator or authorized agent immediately. Please ensure that names are exactly as stated in the relevant passport.

    You must be at least 18 years of age to make a booking. You agree to provide full, complete and accurate information to the Tour Operator. 
    The Tour Operator will not increase the price of your Tour after you have paid in full. Tours are priced and advertised inclusive of applicable taxes.
    You acknowledge that you are responsible for keeping up to date on the specific details of your Tour and any other products or services, including, but not limited to checking the Tour Operator’s website at least 72 hours prior to departure as minor changes may have been made after the time of booking.
    A departure date for a Tour offered by the Tour Operator will become a guaranteed departure when at least one booking secured by a valid deposit has been made on that departure. 
    Changes made by the Tour Operator: The Tour Operator may modify your itinerary where reasonably required in its sole discretion. If the Tour Operator makes a change affecting at least one in three full days of the itinerary or which materially affects the character of a product or service in its entirety (a “Material Change”), the Tour Operator will provide notice to you as soon as reasonably possible, provided that there is sufficient time to do so before departure.
</p>
</div>
<br>
<div>
<h3>BOOKING TERMS & CONDITIONS </h3>
<p>THESE CONDITIONS OF CARRIAGE GOVERN THE RELATIONSHIP, RESPONSIBILITIES AND LIABILITIES AS BETWEEN THE PASSENGER AND THE CARRIER AND ARE BINDING. THEY AFFECT YOUR LEGAL RIGHTS TO SUE, GOVERNING LAW, FORUM AND JURISDICTION AND CONTAIN CERTAIN LIMITATIONS OF LIABILITY, INCLUDING LIMITATIONS RESPECTING INJURY TO OR DEATH OF PASSENGERS AND LOSS OF OR DAMAGE TO LUGGAGE. PLEASE READ ALL OF THESE TERMS AND CONDITIONS CAREFULLY. BY ACCEPTING AND USING THIS TICKET, ALL PASSENGERS AGREE TO ACCEPT AND TO BE BOUND BY ALL OF ITS TERMS AND CONDITIONS.
<br>
"Ticket" means this entire document including all its terms and conditions of carriage. "Carrier" means the owner and/or any charterer and/or operator and/or manager of the Vessel or any other person, to the extent that it acts as carrier or performing carrier (in accordance with the definition provided in the Athens Convention).

"Luggage" means any property belonging to or carried by any Passenger brought on board the Vessel, including baggage, packages, suitcases, trunks, effects, articles, cabin luggage, hand luggage, articles worn by or carried by the Passenger, or deposited with the purser for safe custody, vehicles and any other property whatsoever. "Vessel" means the vessel named in the ticket, invoice, or other similar document issued by the Organizer or any substituted vessel owned and or chartered and or operated and or managed and or controlled by the Carrier. "Organizer" means the party with which the Passenger has entered into a contract for the cruise and/or a Package as defined under the Council Directive 90/314/EEC of 13 June 1990 on Package Travel, Package Holidays and Package Tours. or other relevant legislation or regulations.

"Passenger" includes every person purchasing, accepting or using the ticket on their own behalf or on behalf of others in their care including minors and persons with a disability for whom a Passenger is responsible.
</p>

</div>
<div>
    <h3>Package Travel Information</h3>
    
    <p>The combination of travel services offered to you is a package within the meaning of the Package Travel and Linked Travel Arrangements Regulations 2018. Therefore, you will benefit from all EU rights applying to packages.
        Travellers will receive all essential information about the package before concluding the package travel contract.
There is always at least one trader who is liable for the proper performance of all the travel services included in the contract.
Travellers are given an emergency number or details of a contact point where they can get in touch with the organiser or travel agent.
Travellers may transfer the package to another person, on reasonable notice and possibly subject to additional costs.
The price of the package may only be increased if specific costs rise (for instance fuel prices), and if expressly provided for in the contract, and in any event not later than 20 days before the start of the package. If the price increase exceeds 8% of the price of the package, the traveller may terminate the contract. If the organiser reserves the right to a price increase, the traveller has a right to a price reduction if there is a decrease in the relevant costs.
Travellers may terminate the contract without paying any termination fee and get a full refund of any payments if any of the essential elements of the package, other than the price, are changed significantly. If before the start of the package the trader responsible for the package cancels the package, travellers are entitled to a refund and compensation where appropriate.
Travellers may terminate the contract without paying any termination fee before the start of the package in the event of exceptional circumstances, for instance if there are serious security problems at the destination which are likely to affect the package.
Additionally, travellers may at any time before the start of the package terminate the contract in return for an appropriate and justifiable termination fee.
If, after the start of the package, significant elements of the package cannot be provided as agreed, suitable alternative arrangements will have to be offered to the traveller at no extra cost. Travellers may terminate the contract without paying any termination fee, where services are not performed in accordance with the contract and this substantially affects the performance of the package and the organiser fails to remedy the problem.
Travellers are also entitled to a price reduction or compensation for damages or both where the travel services are not performed or are improperly performed.
The organiser has to provide assistance if the traveller is in difficulty.
    </p>
  
    </div>
<div>
<h3 >Traveller Participation Waiver</h3>

 <p>BY AGREEING TO THE TERMS OF THIS AGREEMENT YOU WILL WAIVE CERTAIN LEGAL RIGHTS.<br>
    I am providing this Waiver to the companies and people involved in organizing and providing the services I have requested in connection with my travel arrangements.
    aware that the physical exertion required to participate in the Activities can activate or aggravate pre-existing injuries, conditions, or congenital defects.

    I acknowledge that I should seek medical advice if I know or suspect that my physical condition may be incompatible with the Activities.
    
    I acknowledge that I am required to wear approved safety equipment while participating in certain Activities. I am aware that there are guides and instructors available to answer any questions I may have as to the proper use of any equipment.
    I acknowledge that there are numerous risks I may face during my involvement in the Activities including the risks listed here.
    If I consume alcohol or illegal drugs before or during my involvement in the Activities I am responsible for any loss, injury, or damage I cause to myself or others.
    I understand and accept the risks of participating in the Activities. I am relying on the statements about the risk contained in this Wavier as the definitive source of information about the safety of the Activities over any other communications or materials.
    
</p>

</div>
<br>
<a href="Lab 5.html "><h2 text-align = 'center'>Back to home page</h2></a></li>
</body>
</html>
