<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Adventure Tour Guideline Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css50/main.css">
    <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="main-container">
        <h2>Tour Places</h2>



        <p><a href="/">Home</a></p>
        <br>
        <div class="filter-container">
            <div class="category-head">
                <ul>
                    <div class="category-title active" id="all">
                        <li>All</li>
                        <span><i class="fas fa-border-all"></i></span>
                    </div>
                    <div class="category-title" id="culture">
                        <li>Geographical Places</li>
                        <span><i class="fab fa-soundcloud"></i></span>
                    </div>
                    <div class="category-title" id="politics">
                        <li>Tracking</li>
                        <span><i class="fab fa-soundcloud"></i></span>
                    </div>
                    <div class="category-title" id="finance">
                        <li>Prominent Rivers</li>
                        <span><i class="fab fa-soundcloud"></i></span>
                    </div>
                    <div class="category-title" id="business">
                        <li>Bangladesh</li>
                        <span><i class="fab fa-soundcloud"></i></span>
                    </div>
                </ul>
            </div>

            <div class="posts-collect">
                <div class="posts-main-container">

                    <div class="all business">
                        <div class="post-img">
                            <img src="/images50/business-1.jpg" alt="post">
                            <span class="category-name"><a href="/bangladesh">Bangladesh</a></span>
                        </div>

                        <div class="post-content">
                            <div class="post-content-top">
                                <span>$1200 /5 Days</span>
                                <br>
                                <span>
                                    <p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i
                                                class="icon-star-full"></i><i class="icon-star-full"></i><i
                                                class="icon-star-full"></i></span> 545 Reviews</p>
                                </span>
                            </div>
                            <h2>Kuakata,Bangladesh</h2>
                            <p>Kuakata is a beach town known for its panoramic sea beach.It is in southeastern
                                Bangladesh and is the number sizeable tourist destination in the country.</p>
                        </div>
                        <button type="button" class="read-btn"><a href="/tour-place">Query</a></button>
                    </div>

                    <div class="all business">
                        <div class="post-img">
                            <img src="/images50/business-2.jpg" alt="post">
                            <span class="category-name"><a href="/bangladesh">Bangladesh</a>
                            </span>
                        </div>
                        <div class="post-content">
                            <div class="post-content-top">
                                <span>$1130 / 7 Days</span>
                                <span>
                                    <p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i
                                                class="icon-star-full"></i><i class="icon-star-full"></i><i
                                                class="icon-star-full"></i></span> 339 Reviews</p>
                                </span>
                            </div>
                            <h2>Mukhra Thuthai Haphong,Bangladesh</h2>
                            <p>Mukhra Thuthai Haphong is a significant border peak of Bangladesh, situated at the
                                southern part of Belaichori of Rangamati Hill District.</p>
                        </div>
                        <button type="button" class="read-btn"><a href="/tour-place">Query</a></button>
                    </div>

                    <div class="all business">
                        <div class="post-img">
                            <img src="/images50/business-3.jpg" alt="post">
                            <span class="category-name"><a href="/bangladesh">Bangladesh</a>
                            </span>
                        </div>

                        <div class="post-content">
                            <div class="post-content-top">
                                <span>$921 / 9 Days</span>
                                <span>
                                    <p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i
                                                class="icon-star-full"></i><i class="icon-star-full"></i><i
                                                class="icon-star-full"></i></span> 339 Reviews</p>
                                </span>
                            </div>
                            <h2>Sundarbans , Bangladesh</h2>
                            <p>The Sundarbans is a mangrove area in the delta formed by the confluence of Ganges,
                                Brahmaputra and Meghna Rivers in the Bay of Bengal.</p>
                        </div>
                        <button type="button" class="read-btn"><a href="/tour-place">Query</a></button>
                    </div>

                    <div class="all culture">
                        <div class="post-img">
                            <img src="/images50/culture-1.jpg" alt="post">
                            <span class="category-name"><a href="/geographical">Geographical Places</a>
                            </span>
                        </div>

                        <div class="post-content">
                            <div class="post-content-top">
                                <span><i class="fas fa-calendar"></i>$371 / 9 Days</span>
                                <span>
                                    <p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i
                                                class="icon-star-full"></i><i class="icon-star-full"></i><i
                                                class="icon-star-full"></i></span> 339 Reviews</p>
                                </span>
                            </div>
                            <h2>Skeleton Coast</h2>
                            <p>The Skeleton Coast is the northern part of the Atlantic coast of Namibia and south of
                                Angola from the Kunene River south to the Swakop River, although the name is sometimes
                                used to describe the entire Namib Desert coast. </p>
                        </div>
                        <button type="button" class="read-btn"><a href="/tour-place">Query</a></button>
                    </div>

                    <div class="all culture">
                        <div class="post-img">
                            <img src="/images50/culture-2.jpg" alt="post">
                            <span class="category-name"><a href="/geographical">Geographical Places</a>
                            </span>
                        </div>

                        <div class="post-content">
                            <div class="post-content-top">
                                <span>$411 / 8 Days</span>
                                <span>
                                    <p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i
                                                class="icon-star-full"></i><i class="icon-star-full"></i><i
                                                class="icon-star-full"></i></span> 339 Reviews</p>
                                </span>
                            </div>
                            <h2>Faroe Islands</h2>
                            <p>Faeroe Islands, is a North Atlantic archipelago located 320 kilometrers north-northwest
                                of Scotland, and about halfway between Norway and Iceland.</p>
                        </div>
                        <button type="button" class="read-btn"><a href="/tour-place">Query</a></button>
                    </div>

                    <div class="all culture">
                        <div class="post-img">
                            <img src="/images50/culture-3.jpg" alt="post">
                            <span class="category-name"><a href="/geographical">Geographical Places</a>
                            </span>
                        </div>

                        <div class="post-content">
                            <div class="post-content-top">
                                <span>$281 / 5 Days</span>
                                <span>
                                    <p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i
                                                class="icon-star-full"></i><i class="icon-star-full"></i><i
                                                class="icon-star-full"></i></span> 561 Reviews</p>
                                </span>
                            </div>
                            <h2>Plitvice Lakes National Park</h2>
                            <p>Plitvice Lakes National Park is one of the oldest and largest national parks in
                                Croatia.The important north–south road that passes through the national park area
                                connects the Croatian inland with the Adriatic coastal region.</p>
                        </div>
                        <button type="button" class="read-btn"><a href="/tour-place">Query</a></button>
                    </div>

                    <div class="all culture">
                        <div class="post-img">
                            <img src="/images50/culture-4.jpg" alt="post">
                            <span class="category-name"><a href="/geographical">Geographical Places</a>
                            </span>
                        </div>

                        <div class="post-content">
                            <div class="post-content-top">
                                <span>$405 / 11 Days</span>
                                <span>
                                    <p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i
                                                class="icon-star-full"></i><i class="icon-star-full"></i><i
                                                class="icon-star-full"></i></span> 451 Reviews</p>
                                </span>
                            </div>
                            <h2>Jujuy Province</h2>
                            <p>Jujuy is a province of Argentina, located in the extreme northwest of the country, at the
                                borders with Chile and Bolivia. The only neighbouring Argentine province is Salta to the
                                east and south.</p>
                        </div>
                        <button type="button" class="read-btn"><a href="/tour-place">Query</a></button>
                    </div>

                    <div class="all finance">
                        <div class="post-img">
                            <img src="/images50/finance-1.png" alt="post">
                            <span class="category-name"><a href="/river">Prominent
                                    Rivers</a></span>
                        </div>

                        <div class="post-content">
                            <div class="post-content-top">
                                <span>$771 / 12 Days</span>
                                <span>
                                    <p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i
                                                class="icon-star-full"></i><i class="icon-star-full"></i><i
                                                class="icon-star-full"></i></span> 923 Reviews</p>
                                </span>
                            </div>
                            <h2>Gates of Lodore</h2>
                            <p>The Gates of Lodore is the scenic entrance to the Canyon of Lodore, a canyon on the Green
                                River in northwestern Colorado, United States.</p>
                        </div>
                        <button type="button" class="read-btn"><a href="/tour-place">Query</a></button>
                    </div>

                    <div class="all finance">
                        <div class="post-img">
                            <img src="/images50/finance-2.jpg" alt="post">
                            <span class="category-name"><a href="/river">Prominent
                                    Rivers</a></span>
                        </div>

                        <div class="post-content">
                            <div class="post-content-top">
                                <span>$679 / 8 Days</span>
                                <span>
                                    <p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i
                                                class="icon-star-full"></i><i class="icon-star-full"></i><i
                                                class="icon-star-full"></i></span> 677 Reviews</p>
                                </span>
                            </div>
                            <h2>Hells Canyon</h2>
                            <p>Hells Canyon is a 10-mile-wide canyon located along the border of eastern Oregon, eastern
                                Washington and western Idaho in the United States. It is part of the Hells Canyon
                                National Recreation Area and is North America's deepest river gorge.</p>
                        </div>
                        <button type="button" class="read-btn"><a href="/tour-place">Query</a></button>
                    </div>

                    <div class="all finance">
                        <div class="post-img">
                            <img src="/images50/finance-3.jpg" alt="post">
                            <span class="category-name"><a href="/river">Prominent
                                    Rivers</a></span>
                        </div>

                        <div class="post-content">
                            <div class="post-content-top">
                                <span>$151 / 4 Days</span>
                                <span>
                                    <p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i
                                                class="icon-star-full"></i><i class="icon-star-full"></i><i
                                                class="icon-star-full"></i></span> 444 Reviews</p>
                                </span>
                            </div>
                            <h2>Main Salmon River</h2>
                            <p>The Little Salmon River formed as a result of a rift valley developing between the Rocky
                                Mountains and the Columbia Plateau section of the Intermontane Plateaus. </p>
                        </div>
                        <button type="button" class="read-btn"><a href="/tour-place">Query</a></button>
                    </div>

                    <div class="all politics">
                        <div class="post-img">
                            <img src="/images50/politics-1.jpg" alt="post">
                            <span class="category-name"><a href="/tracking">Tracking</a></span>
                        </div>

                        <div class="post-content">
                            <div class="post-content-top">
                                <span>$311 / 7 Days</span>
                                <span>
                                    <p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i
                                                class="icon-star-full"></i><i class="icon-star-full"></i><i
                                                class="icon-star-full"></i></span> 721 Reviews</p>
                                </span>
                            </div>
                            <h2>Camino de Santiago</h2>
                            <p>The Camino de Santiago known in English as the Way of St. It is also popular with hiking
                                and cycling enthusiasts and organized tour groups.</p>
                        </div>
                        <button type="button" class="read-btn"><a href="/tour-place">Query</a></button>
                    </div>

                    <div class="all politics">
                        <div class="post-img">
                            <img src="/images50/politics-2.jpg" alt="post">
                            <span class="category-name"><a href="/tracking">Tracking</a></span>
                        </div>

                        <div class="post-content">
                            <div class="post-content-top">
                                <span>$703 / 13 Days</span>
                                <span>
                                    <p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i
                                                class="icon-star-full"></i><i class="icon-star-full"></i><i
                                                class="icon-star-full"></i></span> 933 Reviews</p>
                                </span>
                            </div>
                            <h2>Appalachian Trail</h2>
                            <p>The Appalachian National Scenic Trail, generally known as the Appalachian Trail or simply
                                the A.T., is a marked hiking trail in the Eastern United States.</p>
                        </div>
                        <button type="button" class="read-btn"><a href="/tour-place">Query</a></button>
                    </div>

                    <div class="all politics">
                        <div class="post-img">
                            <img src="/images50/politics-3.jpg" alt="post">
                            <span class="category-name"><a href="/tracking">Tracking</a></span>
                        </div>

                        <div class="post-content">
                            <div class="post-content-top">
                                <span>$699 / 10 Days</span>
                                <span>
                                    <p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i
                                                class="icon-star-full"></i><i class="icon-star-full"></i><i
                                                class="icon-star-full"></i></span> 1011 Reviews</p>
                                </span>
                            </div>
                            <h2>Mount Toubkal</h2>
                            <p>Toubkal or Tubkal s a mountain peak in southwestern Morocco, located in the Toubkal
                                National Park.Although much of the High Atlas consists of sedimentary rocks.</p>
                        </div>
                        <button type="button" class="read-btn"><a href="/tour-place">Query</a></button>
                    </div>

                    <div class="all politics">
                        <div class="post-img">
                            <img src="/images50/politics-4.jpg" alt="post">
                            <span class="category-name"><a href="/tracking">Tracking</a></span>
                        </div>

                        <div class="post-content">
                            <div class="post-content-top">
                                <span>$1111 / 15 Days</span>
                                <span>
                                    <p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i
                                                class="icon-star-full"></i><i class="icon-star-full"></i><i
                                                class="icon-star-full"></i></span> 1234 Reviews</p>
                                </span>
                            </div>
                            <h2>Routeburn Track</h2>
                            <p>While the Routeburn Track may be a shorter multi-day hike, it has some of the biggest
                                scenery.The highest point of the track.</p>
                        </div>
                        <button type="button" class="read-btn"><a href="/tour-place">Query</a></button>
                    </div>


                </div>
            </div>
        </div>
    </div>


    <!-- JS file -->
    <script src="/js50/script.js"></script>
</body>

</html>